<div ng-controller="authController" layout="row" layout-align-gt-sm="center center" layout-align-sm="center start"  flex style="background-image:url('/images/pyramid.png'); background-repeat: repeat;">

  <md-whiteframe class="md-whiteframe-z5 indexBox" layout="column" layout-padding layout-align="center center"
                 layout-margin>
    <md-content layout-align="center center" layout-fill style="min-width: 400px">
      <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom layout-fill>
        <md-tab label="{{ 'LogIn'| translate }}">
          <md-content class="md-padding">
            <form action="/auth/local" method="POST" layout="column" layout-align="center center" layout-padding
                  layout-margin
                  layout-fill>
              <h2> {{'Please'| translate }} {{'LogIn'| translate }} </h2>
              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'UsernameOrEmail'| translate }} </label>
                <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
                <input type="text" name="identifier">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Password'| translate }} </label>
                <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
                <input type="password" name="password">
              </md-input-container>

              <md-button class="md-primary" type="submit" layout-fill>
                {{'LogIn'| translate }}
              </md-button>
            </form>
          </md-content>
        </md-tab>
        <md-tab label=" {{'SignUp'| translate }} ">
          <md-content class="md-padding">
            <form action="/auth/local/register" method="POST" layout="column" layout-align="center center"
                  layout-padding layout-margin layout-fill>
              <h2> {{'Please'| translate }} {{'SignUp'| translate }} </h2>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Username'| translate }} </label>
                <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
                <input type="text" name="username">
              </md-input-container>
              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Name'| translate }} </label>
                <md-icon><i class="fa fa-child fa-lg"></i></md-icon>
                <input type="text" class="upperCaseFormText" name="name">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'LastName'| translate }} </label>
                <md-icon><i class="fa fa-male fa-lg"></i></md-icon>
                <input type="text" class="upperCaseFormText" name="lastName">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Email'| translate }} </label>
                <md-icon><i class="fa fa-envelope fa-lg"></i></md-icon>
                <input type="text" name="email" >
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Identification'| translate }} </label>
                <md-icon><i class="fa fa-info fa-lg"></i></md-icon>
                <input type="text" input-sm" name="identification">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Password'| translate }} </label>
                <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
                <input type="password" name="password">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Confirm'| translate }} {{'Password'| translate }} </label>

                <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
                <input type="password" name="confirmation">
              </md-input-container>

              <md-button class="md-primary" type="submit" layout-fill>
                {{'SignUp'| translate }}
              </md-button>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>

      <div layout="row" layout-align="center center" layout-padding layout-padding layout-fill>
        <md-button class="md-icon-button" aria-label="Google" href="/auth/google" target="_self" title="Google" >
          <md-icon md-font-icon="fa-google-plus-square" class="fa fa-lg" style="color:#dd4b39; font-size: 30px"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Facebook" href="/auth/facebook" target="_self" title="Facebook" >
          <md-icon md-font-icon="fa-facebook-square" class="fa fa-lg" style="color:#415C97; font-size: 30px"></md-icon>
        </md-button>
      </div>

    </md-content>

  </md-whiteframe>
</div>





