<% if (errors) { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }) %>
<% } %>

<div class="registerBox" ng-controller="authController">
  <form class="formBox col-xs-7 " action="/auth/local/register" method="POST">
    <h2 class="form-signin-heading"><%= __('Username') %></h2>

    <div class="formItemsBox">
      <md-input-container class="md-icon-float">
        <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
        <input type="text" name="username" placeholder="<%= __('Your') + " " + __('Username') %>">
      </md-input-container>


    </div>
    <h2 class="form-signin-heading"><%= __('Please') + " " + __('SignUp') %></h2>

    <div class="formItemsBox ">
      <md-input-container class="md-icon-float">
        <md-icon><i class="fa fa-child fa-lg"></i></md-icon>
        <input type="text" class="upperCaseFormText" name="name" placeholder="<%= __('Your') + " " + __('Name') %>">
      </md-input-container>

      <md-input-container class="md-icon-float">
        <md-icon><i class="fa fa-male fa-lg"></i></md-icon>
        <input type="text" class="upperCaseFormText" name="lastName"
               placeholder="<%= __('Your') + " " + __('LastName') %>">
      </md-input-container>

    </div>
    <div class="formItemsBox">
      <md-input-container class="md-icon-float">
        <md-icon><i class="fa fa-envelope fa-lg"></i></md-icon>
        <input type="text" name="email" placeholder="<%= __('Your') + " " + __('Email') %>">
      </md-input-container>

      <md-input-container class="md-icon-float">
        <md-icon><i class="fa fa-info fa-lg"></i></md-icon>
        <input type="text" class="form-control input-sm" name="identification"
               placeholder="<%= __('Your') + " " + __('Identification') %>">
      </md-input-container>
    </div>
    <div class="formItemsBox">
      <md-input-container class="md-icon-float">
        <md-icon> <i class="fa fa-key fa-lg"></i></md-icon>
        <input type="password" name="password" placeholder="<%= __('Your') + " " + __('Password') %>">
      </md-input-container>
      <md-input-container class="md-icon-float">
        <md-icon> <i class="fa fa-key fa-lg"></i></md-icon>
        <input type="password" name="confirmation" placeholder="<%= __('Confirm') + " " + __('Password') %>">
      </md-input-container>

    </div>


    <input type="submit" class="btn btn-large" name="submit" Value="<%= __('SignUp') %>">

    <h2><%= __('SocialNetworkConnectMessage') %></h2>

    <a href="/auth/google" title="Google">
      <i class="fa fa-google-plus-square fa-lg"></i> Google
    </a>
    <a href="/auth/facebook" title="Facebook">
      <i class="fa fa-facebook-square fa-lg"></i> Facebook
    </a>

  </form>
</div>
