<md-whiteframe class="md-whiteframe-z5 indexBox" layout="column" layout-padding layout-align="center center"
               layout-margin>
  <md-content class="md-padding">
    <form action="/auth/local" method="POST" layout="column" layout-align="center center" layout-padding
          layout-margin
          layout-fill>
      <h2> {{'Please'| translate }} {{'LogIn'| translate }} </h2>
      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'UsernameOrEmail'| translate }} </label>
        <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
        <input type="text" name="identifier">
      </md-input-container>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'Password'| translate }} </label>
        <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
        <input type="password" name="password">
      </md-input-container>

      <md-button class="md-primary" type="submit" layout-fill>
        {{'LogIn'| translate }}
      </md-button>
    </form>

  </md-content>

</md-whiteframe>