<md-whiteframe class="md-whiteframe-z5 indexBox" layout="column" layout-padding layout-align="center center"
               layout-margin>
  <md-content class="md-padding">
    <form action="/auth/local/register" method="POST" layout="column" layout-align="center center"
          layout-padding layout-margin layout-fill>
      <h2> {{'Please'| translate }} {{'SignUp'| translate }} </h2>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'Username'| translate }} </label>
        <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
        <input type="text" name="username">
      </md-input-container>
      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'Name'| translate }} </label>
        <md-icon><i class="fa fa-child fa-lg"></i></md-icon>
        <input type="text" class="upperCaseFormText" name="name">
      </md-input-container>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'LastName'| translate }} </label>
        <md-icon><i class="fa fa-male fa-lg"></i></md-icon>
        <input type="text" class="upperCaseFormText" name="lastName">
      </md-input-container>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'Email'| translate }} </label>
        <md-icon><i class="fa fa-envelope fa-lg"></i></md-icon>
        <input type="text" name="email">
      </md-input-container>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'Identification'| translate }} </label>
        <md-icon><i class="fa fa-info fa-lg"></i></md-icon>
        <input type="text" input-sm" name="identification">
      </md-input-container>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Your'| translate }} {{'Password'| translate }} </label>
        <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
        <input type="password" name="password">
      </md-input-container>

      <md-input-container class="md-icon-float" layout-fill>
        <label> {{'Confirm'| translate }} {{'Password'| translate }} </label>

        <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
        <input type="password" name="confirmation">
      </md-input-container>

      <md-button class="md-primary" type="submit" layout-fill>
        {{'SignUp'| translate }}
      </md-button>
    </form>
  </md-content>

</md-whiteframe>





