<div layout="row" layout-align="center center" layout-padding layout-padding layout-fill>
  <md-button class="md-icon-button" aria-label="Google" href="/auth/google" target="_self" title="Google">
    <md-icon md-font-icon="fa-google-plus-square" class="fa fa-lg" style="font-size: 25px"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="Facebook" href="/auth/facebook" target="_self" title="Facebook">
    <md-icon md-font-icon="fa-facebook-square" class="fa fa-lg" style="font-size: 25px"></md-icon>
  </md-button>
</div>





