    <div class="signInBox">
      <form class="formBox" action="/signin" method="POST" >
        <h2 class="form-signin-heading"><%= __('Please') +" "+ __('SignIn') %> </h2>
        <input type="text" class="input-block-level" name="identification" placeholder="<%= __('Your') +" "+ __('Identification')%>">
        <input type="password" class="input-block-level" name="password" placeholder="<%= __('Your') +" "+ __('Password')%>">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> <%= __('Remember') +" "+ __('Me')%>
        </label>
        <input type="submit" class="btn btn-large" name="submit" Value="<%= __('SignIn') %>">
      </form>
    </div>
  </div>
