<div id="actionBar" layout="row">
  <md-sidenav layout="column" class="md-sidenav-left actionBar" md-component-id="left"
              md-is-locked-open="true">
    <div class="md-whiteframe-z2" flex>

      <a href="{{item.href}}"
         id="{{item.item}}"
         target="_self"
         title="{{item.i18nKey| translate }}"
         class=""
         ng-repeat-start="item in items"
         ng-if="!!item.href">
      <i class="{{item.image}} fa-2x fa-fw"></i>
      </a>

      <a href="#"
         id="{{item.item}}"
         title="{{item.i18nKey| translate }}"
         class=""
         ng-click="item.action()"
         ng-repeat-end
         ng-if="!!item.action">
        <i class="{{item.image}} fa-2x fa-fw"></i>
      </a>
    </div>
  </md-sidenav>
</div>

