<header class="header" id="header" ng-controller="NavigationBarController">
  <nav layout="row" layout-align="space-between center" flex>
    <a class="logo" href="/">
      <img src="/images/LinkawLogoBlackBeta.png" alt="Linkaw" height="40" width="160">
    </a>

    <div layout="row" layout-align="center center" layout-wrap>
      <ul class="nav-primary" layout="row" layout-align="center center" layout-wrap>
        <li  layout="row" layout-align="center center" layout-wrap>
          <a ui-sref="initiatives" ui-sref-active="active animated pulse infinite">{{'Initiatives'|translate }}</a>
        </li>
        <li  layout="row" layout-align="center center" ng-if="!!user.email">
          <a ui-sref="myInitiatives" ui-sref-active="active animated pulse infinite">{{'MyInitiatives'|translate }}</a>
        </li>
        <li  layout="row" layout-align="center center" ng-if="!!user.email">
          <a ui-sref="sharedInitiatives" ui-sref-active="active animated pulse infinite">{{'SharedInitiatives'|translate}}</a>
        </li>
      </ul>
      <ul class="nav-primary" layout="row" layout-align="center center" layout-wrap>
        <li  layout="row" layout-align="center center">
          <a ui-sref="data">{{'Data'| translate}}</a>
        </li>
        <li  layout="row" layout-align="center center">
          <a href="/about/" class="">about</a>
        </li>
        <li  layout="row" layout-align="center center">
          <a href="/contact/">contact</a>
        </li>
      </ul>
    </div>
    <ul class="nav-primary" layout="row" layout-align="center center">
      <li  layout="row" layout-align="center center">
        <a ng-click="toggleLanguage()" href="#" class="search">{{otherLanguage}}</a>
      </li>
      <li  layout="row" layout-align="center center" ng-if="!!user.email">
        <button ui-sref="legislator.user({userId: user.id})" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false"
                style="background:none;">
          <img class="roundedImage"ng-src="{{getUserImageUrl()}}"/>
        </button>
        <a class="logOut" ng-show="isOpen" style="transition: width 2s, height 4s;" href="/auth/logout" target="_self"
           title="{{'LogOut'| translate}}">
          <i class="fa fa-power-off"></i> {{'LogOut'| translate}}
        </a>
      </li>
      <li  layout="row" layout-align="center center" ng-if="!user.email"
          ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
        <a class="verticalText">{{'LogIn'| translate}}</a>
        <social-login ng-show="isOpen" style="transition: width 2s, height 4s;"></social-login>
      </li>

    </ul>
  </nav>
</header>