<div id="usersBox" layout="column" flex>
  <md-toolbar layout="row" layout-align="center center" style="color:aliceblue">
    <h4>
      <i class="fa fa-users"> {{'Collaborators'| translate }} </i>
    </h4>
  </md-toolbar>

  <div layout="row" layout-align="center center">
    <a ui-sref="legislator.user({userId: initiative.author.id})">
      <img ng-src="{{initiative.author.photoUrl}}" class="roundedImage"/>
    </a>

    <div class="md-list-item-text authorBox" flex layout-padding>
      <label>{{initiative.author.name}} </label>
      <label>{{initiative.author.lastName}}</label>
    </div>
    <label class="verticalText" style="color: cadetblue;">
      {{'Author'| translate }}
    </label>
  </div>

  <div class="" layout-align="space-between center" layout="row" style="color: cadetblue;">
    <h4><i class="fa fa-users"> </i></h4>
    <h4>{{'Collaborators'| translate }}  </h4>
    <h4>
      {{initiative.collaborators.length}}
    </h4>
  </div>

  <div id="searchUserBox" layout="column">
    <div class="searchBox" layout-align="end center" layout="row" ng-mouseenter="showSearchBox=true"
         ng-mouseleave="showSearchBox=false">
      <input id="searchInitiativeText" type="search" class="searchBoxText" placeholder="{{'SearchToAddUsers'| translate }}..."
             ng-model="userName.SearchText"
             ng-keyup="filterInitiatives(list.filter)"
             ng-class="(showSearchBox==true)? 'searchBoxExpanded' : ''"
             ng-change="loadUsers(userName.SearchText)"
             ng-init="userName.SearchText=nada"/>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
    </div>

    <div ng-show="(!initiative.collaborators || initiative.collaborators.length == 0) && !(userName.SearchText)">
      <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
        <label><h3>{{'AddCollaboratorsMessage'| translate }} </h3></label>
      </md-whiteframe>
    </div>
    <div ng-show="(!users || users.length == 0) && (userName.SearchText)">
      <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
        <label><h3>{{'NoCollaboratorsMessage'| translate }} </h3></label>
      </md-whiteframe>
    </div>

    <md-list>
      <md-subheader ng-show="users.length > 0 " class="md-no-sticky">{{'CollaboratorsToAdd'| translate }} </md-subheader>
      <md-list-item ng-repeat="user in users" ng-click="goTouserPage(collaborator.id)" layout-align="center center">
        <img alt="{{ user.name }}" ng-src="{{ user.photoUrl }}" class="md-avatar"/>
        <div flex>
          <h5> {{user.name}} {{user.lastName}}</h5>
          <h5> {{user.email}} </h5>
        </div>
        <md-icon md-font-icon="fa-plus-square" class="fa fa-lg md-secondary md-hue-3" ng-click="addCollaborator(user.id)"
                 aria-label="Remove"></md-icon>
      </md-list-item>
    </md-list>


  </div>

  <md-list flex>
    <md-subheader class="md-no-sticky">{{'Collaborators'| translate }} </md-subheader>
    <md-list-item ng-repeat="collaborator in initiative.collaborators" ng-click="goTouserPage(collaborator.id)" layout-align="center center">
      <img alt="{{ collaborator.name }}" ng-src="{{ collaborator.photoUrl }}" class="md-avatar"/>
      <div flex>
        <h5> {{collaborator.name}} {{collaborator.lastName}}</h5>
        <h5> {{collaborator.email}} </h5>
      </div>
      <md-icon md-font-icon="fa-minus-square" class="fa fa-lg md-secondary md-hue-3" ng-click="removeCollaborator(collaborator.id)"
               aria-label="Remove"></md-icon>
    </md-list-item>
  </md-list>

</div>

