<div id="usersBox" ng-controller="CollaboratorController" layout="column" flex>
  <md-toolbar layout="row" layout-align="center center">
    <h4>
      <i class="fa fa-users"> <%= __('Collaborators') %> </i>
    </h4>
  </md-toolbar>

  <div class="blackTitle" layout="row">
    <h4><i class="fa fa-user"> </i></h4>

    <div flex layout-align="center center">
      <h4><%= __('Author') %>  </h4>
    </div>
  </div>

  <div layout="row" layout-align="center center">
    <a ui-sref="legislator.user({userId: initiative.author.id})">
      <img ng-src="{{initiative.author.photoUrl}}" class="md-avatar"/>
    </a>

    <div class="md-list-item-text" flex>
      <h5>{{ initiative.author.name}} </h5>
      <h5>{{initiative.author.lastName}}</h5>
      <h5>{{ initiative.author.email}}</h5>
    </div>
  </div>

  <div class="blackTitle" layout-align="space-between center" layout="row">
    <h4><i class="fa fa-users"> </i></h4>
    <h4><%= __('Collaborators') %>  </h4>
    <h4>
      {{initiative.collaborators.length}}
    </h4>
  </div>

  <md-list flex>
    <md-subheader class="md-no-sticky"><%= __('Collaborators') %> </md-subheader>
    <md-list-item ng-repeat="collaborator in initiative.collaborators" ng-click="goTouserPage(collaborator.id)" layout-align="center center">
      <img alt="{{ collaborator.name }}" ng-src="{{ collaborator.photoUrl }}" class="md-avatar"/>
      <div flex>
        <h5> {{collaborator.name}} {{collaborator.lastName}}</h5>
        <h5> {{collaborator.email}} </h5>
      </div>
    </md-list-item>
  </md-list>

</div>

