<!DOCTYPE html>
<html ng-app='legislator'>
  <head>
    <title>Linkaw</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/textAngular/dist/textAngular.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/prefixfree/prefixfree.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/sugar/release/sugar.min.js"></script>
    <script src="/js/lib/bcsocket.js"></script>
    <script src="/js/webclient/share.uncompressed.js"></script>
    <script src="/js/webclient/textarea.js"></script>
    <script src="/js/webclient/model.js"></script>
    <script src="/bower_components/rangy/rangy-core.min.js"></script>
    <script src="/bower_components/rangy/rangy-selectionsaverestore.min.js"></script>
    <script src="/bower_components/rangy/rangy-serializer.min.js"></script>
    <script src="/bower_components/rangy/rangy-textrange.min.js"></script>
    <script src="/bower_components/rangy/rangy-classapplier.min.js"></script>
    <script src="/bower_components/rangy/rangy-highlighter.min.js"></script>
    <script src="/bower_components/google-diff-match-patch-js/diff_match_patch.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-scroll-glue/src/scrollglue.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="/bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="/js/services/crud.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/js/directives/angular-share.js"></script>
    <script src="/js/directives/angular-diff.js"></script>
    <script src="/js/app/LegislatorApp.js"></script>
    <script src="/js/services/LinkawAppService.js"></script>
    <script src="/js/controllers/ActionBarController.js"></script>
    <script src="/js/controllers/CollaboratorController.js"></script>
    <script src="/js/controllers/CommentController.js"></script>
    <script src="/js/controllers/EditArticleController.js"></script>
    <script src="/js/controllers/EditInitiativeController.js"></script>
    <script src="/js/controllers/InitiativesController.js"></script>
    <script src="/js/controllers/MessageController.js"></script>
    <script src="/js/controllers/MyInitiativesController.js"></script>
    <script src="/js/controllers/NavigationBarController.js"></script>
    <script src="/js/controllers/TitleBarController.js"></script>
    <script src="/js/controllers/UserController.js"></script>
    <script src="/js/controllers/loginController.js"></script>
    <!--SCRIPTS END-->


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->



  </head>
  <body layout="column">
    <%- body %>
  </body>

  <script type="text/javascript">
    var user = '<%- JSON.stringify(req.session.user) %>';
    if(user){
      user = JSON.parse(user);
    }
    var exported = {
      user: user,
      isAuthenticated: '<%- JSON.stringify(session.authenticate) %>'
    };
  </script>

</html>
