<div id="contentContainer" class="contentContainer" ng-controller="UserController">
  <div id="initiativeBoxes" class="initiativeBoxes container-fluid" ng-cloak>
    <div class="row">
      <div class="col-xs-12">
        <div class="well well-sm">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive"/>
            </div>
            <div class="col-sm-6 col-md-8">
              <h4>
                {{user.name}}</h4>
              <h4>
                {{user.lastName}}</h4>
              <small><cite title="Colombia">Colombia<i class="glyphicon glyphicon-map-marker">
                  </i></cite></small>
              <p>
                <i class="glyphicon glyphicon-envelope"></i> {{user.email}}
                <br/>
                <i class="glyphicon glyphicon-gift"></i>
                <%= __('InitiativesCreated') %> : {{myInitiativeList.length}}
                <br/>
                <i class="glyphicon glyphicon-gift"></i><%= __('SharedInitiatives') %> : {{sharedInitiativeList.length}}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="initiativeBoxes" class="initiativeBoxes" ng-cloak>
    <div id="myInitiativeBox" class="myInitiativeBox">
      <h1 id="myInitiativeListTitle" class="blackTitle">
        <i class="fa fa-user fa-fw"></i> <%= __('MyInitiatives') %>
      </h1>

      <div id="myInitiativeList" class="initiativeList">
        <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in myInitiativeList">
          <div id="initiativeInfo" class="initiativeInfo">
            <p id="title" class="title"> {{ initiative.title }} </p>

            <p id="description" class="description"> {{ initiative.description }} </p>
          </div>
          <div id="initiativeActions" class="initiativeAction">
            <a href="/page/initiative/{{initiative.id}}" class="Edit"
               title="<%= __('InvolveMe') %>"> <%= __('InvolveMe') %> </a>
            <button href="" title="<%= __('Like') %>" class="btn btn-success"
                    ng-disabled="hasVoted(initiative)"
                    ng-click="likeItem(initiative.id, initiative)">
              {{initiative.userLikesIds.length}}
              <i class="fa fa-heart fa-lg"></i>
            </button>
            <button href="" title="<%= __('Dislike') %>" class="btn btn-danger"
                    ng-disabled="hasVoted(initiative)"
                    ng-click="dislikeItem(initiative.id, initiative)">
              {{initiative.userDislikesIds.length}}
              <i class="fa fa-fire fa-lg"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="sharedInitiativeBox" class="sharedInitiativeBox">
      <h1 id="sharedInitiativeListTitle" class="blackTitle">
        <i class="fa fa-users fa-fw"></i> <%= __('SharedInitiatives') %>
      </h1>

      <div id="sharedInitiativeList" class="initiativeList">
        <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in sharedInitiativeList">
          <div id="initiativeInfo" class="initiativeInfo">
            <p id="title" class="title"> {{ initiative.title }} </p>

            <p id="description" class="description"> {{ initiative.description }} </p>
          </div>
          <div id="initiativeActions" class="initiativeAction">
            <a href="/page/initiative/{{initiative.id}}" class="Edit"
               title="<%= __('InvolveMe') %>"> <%= __('InvolveMe') %> </a>
            <button href="" title="<%= __('Like') %>" class="btn btn-success"
                    ng-disabled="hasVoted(initiative)"
                    ng-click="likeItem(initiative.id, initiative)">
              {{initiative.userLikesIds.length}}
              <i class="fa fa-heart fa-lg"></i>
            </button>
            <button href="" title="<%= __('Dislike') %>" class="btn btn-danger"
                    ng-disabled="hasVoted(initiative)"
                    ng-click="dislikeItem(initiative.id, initiative)">
              {{initiative.userDislikesIds.length}}
              <i class="fa fa-fire fa-lg"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>