<div ng-cloak layout="row" ng-controller="UserController" ng-cloak flex>
  <%- include ../common/actionBar.ejs %>

  <div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
      <span>
        <h1 id="myInitiativeListTitle">
          <i class="fa fa-user fa-fw"></i> <%= __('UserProfile') %>
        </h1>
      </span>
    </md-toolbar>

    <md-content id="initiativeList" style="overflow: scroll;" >
      <div class="well well-sm" layout="row" layout-align="center center">
        <img ng-src="{{userToInspect.photoUrl}}" alt="" class="img-rounded img-responsive" width="80px" height="80px"
             style="padding: 5px"/>

        <div layout="column">
          <h6>{{userToInspect.name}} {{userToInspect.lastName}}</h6>
          <small><cite title="Colombia">Colombia<i class="glyphicon glyphicon-map-marker">
              </i></cite></small>
          <p>
            <i class="glyphicon glyphicon-envelope"></i> {{userToInspect.email}}
            <br/>
            <i class="glyphicon glyphicon-gift"></i>
            <%= __('InitiativesCreated') %> : {{myInitiativeList.length}}
            <br/>
            <i class="glyphicon glyphicon-gift"></i><%= __('SharedInitiatives') %> :
            {{sharedInitiativeList.length}}
          </p>

        </div>
      </div>


      <div id="myInitiativeBox" layout="column" flex>
        <h1 id="myInitiativeListTitle" class="blackTitle">
          <i class="fa fa-user fa-fw"></i> <%= __('Initiatives') %>
        </h1>

        <md-content id="initiativeList" class="initiativeList" style="overflow: auto;" layout="column">
          <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in myInitiativeList track by initiative.id">
            <div id="initiativeInfo" class="initiativeInfo" flex>
              <p id="title" class="title"> {{ initiative.title }} </p>

              <p id="description" class="description"> {{ initiative.description }} </p>
            </div>
            <div id="initiativeActions" layout="row" layout-align="end center">


              <md-button ui-sref="legislator.viewInitiative({initiativeId: initiative.id})" class="md-icon-button"
                         aria-label="Like">
                <md-icon md-font-icon="fa-binoculars" class="fa fa-lg md-primary">
                </md-icon>
                <md-tooltip>
                  <%= __('InvolveMe') %>
                </md-tooltip>
              </md-button>

              <md-button aria-label="Like" ng-disabled="hasVoted(initiative)" class="md-icon-button"
                         ng-click="likeItem(initiative.id, initiative)" class="text-success">
                <b class="text-success">
                  {{initiative.userLikesIds.length}}
                </b>
                <md-icon md-font-icon="fa-heart" class="fa fa-lg md-icon-button text-success">
                </md-icon>
                <md-tooltip>
                  <%= __('Like') %>
                </md-tooltip>
              </md-button>

              <md-button ng-disabled="hasVoted(initiative)" class="md-icon-button"
                         ng-click="dislikeItem(initiative.id, initiative)">
                <b class="text-danger">
                  {{initiative.userDislikesIds.length}}
                </b>
                <md-icon md-font-icon="fa-fire" class="fa fa-lg md-icon-button text-danger">
                </md-icon>
                <md-tooltip>
                  <%= __('Dislike') %>
                </md-tooltip>

              </md-button>
            </div>
          </div>
        </md-content>


        <h1 id="sharedInitiativeListTitle" class="blackTitle">
          <i class="fa fa-users fa-fw"></i> <%= __('SharedInitiatives') %>
        </h1>

        <md-content id="initiativeList" class="initiativeList" style="overflow: auto;" layout="column">
          <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in sharedInitiativeList track by initiative.id">
            <div id="initiativeInfo" class="initiativeInfo" flex>
              <p id="title" class="title"> {{ initiative.title }} </p>

              <p id="description" class="description"> {{ initiative.description }} </p>
            </div>
            <div id="initiativeActions" layout="row" layout-align="end center">


              <md-button ui-sref="legislator.viewInitiative({initiativeId: initiative.id})" class="md-icon-button"
                         aria-label="Like">
                <md-icon md-font-icon="fa-binoculars" class="fa fa-lg md-primary">
                </md-icon>
                <md-tooltip>
                  <%= __('InvolveMe') %>
                </md-tooltip>
              </md-button>

              <md-button aria-label="Like" ng-disabled="hasVoted(initiative)" class="md-icon-button"
                         ng-click="likeItem(initiative.id, initiative)" class="text-success">
                <b class="text-success">
                  {{initiative.userLikesIds.length}}
                </b>
                <md-icon md-font-icon="fa-heart" class="fa fa-lg md-icon-button text-success">
                </md-icon>
                <md-tooltip>
                  <%= __('Like') %>
                </md-tooltip>
              </md-button>

              <md-button ng-disabled="hasVoted(initiative)" class="md-icon-button"
                         ng-click="dislikeItem(initiative.id, initiative)">
                <b class="text-danger">
                  {{initiative.userDislikesIds.length}}
                </b>
                <md-icon md-font-icon="fa-fire" class="fa fa-lg md-icon-button text-danger">
                </md-icon>
                <md-tooltip>
                  <%= __('Dislike') %>
                </md-tooltip>

              </md-button>
            </div>
          </div>
        </md-content>

      </div>
    </md-content>
  </div>

</div>