<div ng-cloak layout="row" ng-controller="EditArticleController" ng-cloak flex>
  <%- include ../common/actionBar.ejs %>

  <div id="contentContainer" layout="column" flex style="margin-bottom: 30px">

    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
        <span>
          <h1 id="sharedInitiativeListTitle">
            <i class="fa fa-th-large fa-fw"></i> <%= __('Article') %> {{article.articleNumber}}
          </h1>
        </span>
    </md-toolbar>


    <md-content id="articleGeneralBox" style="overflow-y: scroll;" flex>

      <md-input-container flex class="form-signin-heading">
        <label><h2><%= __('Title') %> </h2></label>
        <textarea class="initiativeTitle" ng-model="article.title" columns="1" md-maxlength="500"
                  dir-share-text-area="Article{{articleId}}Title"></textarea>
      </md-input-container>

      <md-input-container flex class="form-signin-heading">
        <label><h2><%= __('TextOfModification') %> </h2></label>
        <textarea class="textParagraph" ng-model="article.textOfModification" columns="1"
                  dir-share-text-area="Article{{articleId}}TextOfModification"></textarea>
      </md-input-container>


      <md-input-container flex class="form-signin-heading">
        <label><h2><%= __('Problem') %> </h2></label>
        <textarea class="textParagraph" ng-model="article.problem" columns="1" md-maxlength="3000"
                  dir-share-text-area="Article{{articleId}}Problem"></textarea>
      </md-input-container>

      <md-input-container flex class="form-signin-heading">
        <label><h2><%= __('WorkingText') %> </h2></label>
        <textarea class="textParagraph" ng-model="article.currentVersion" columns="1" md-maxlength="10000"
                  dir-share-text-area="Article{{articleId}}CurrentVersion"></textarea>
      </md-input-container>

      <div id="versionBo>x" ng-hide="article.versions.length == 0" style="padding-bottom: 20px">
        <div class="alert-success" layout="column" flex>
          <div layout="row" layout-align="center center">
            <h2 class="form-signin-heading"><%= __('Version') %> {{versionNumber}} <%= __('Of') %>
              {{article.versions.length-1}}
            </h2>

            <md-slider class="md-warn" flex md-discrete step="1" min="0" max="{{article.versions.length-1}}"
                       aria-label="version"
                       ng-model="versionNumber" flex style="padding-left: 10px;padding-right: 10px">
            </md-slider>

            <md-list-item class="md-3-line">
              <img ng-src="{{article.versions[versionNumber].author.photoUrl}}" class="md-avatar" alt="{{article.versions[versionNumber].name}}"/>

              <div class="md-list-item-text">
                <h3><b>{{article.versions[versionNumber].author.name}} </b></h3>

                <h3> {{article.versions[versionNumber].author.email}}</h3>
                {{article.versions[versionNumber].createdAt|date:'medium'}}
              </div>
            </md-list-item>
          </div>

        </div>
        <div layout="row">
          <div class="alert-warning" layout="column" flex layout-align="center center">
            <div layout="row" layout-align="center center">
              <h2 class="form-signin-heading"><%= __('Version') %> {{versionNumber}} </h2>
            </div>
              <pre id="version" class="textParagraph" ng-bind="article.versions[versionNumber].text">

              </pre>
          </div>
          <div class="alert-info" layout="column" flex layout-align="center center" style="padding-bottom: 20px">
            <h2 class="form-signin-heading"><%= __('WorkingVersionDifference') %> </h2>

              <pre dir-text-diff dir-initial-model="{{article.currentVersion}}"
                   dir-final-model="{{article.versions[versionNumber].text}}" id="versionrangy" class="textParagraph ">
              </pre>
          </div>
        </div>
      </div>

    </md-content>

  </div>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showMessagesBox">
    <%- include ../common/partials/messages.ejs %>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCommentBox">
    <%- include ../common/partials/comments.ejs %>
  </md-sidenav>

</div>


