<div ng-cloak layout="row" ng-controller="EditInitiativeController" flex>
  <%- include ../common/actionBar.ejs %>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
    <span>
      <h1 id="myInitiativeListTitle">
        <i class="fa fa-file-text fa-fw"></i> <%= __('Initiative') %>
      </h1>
    </span>
    </md-toolbar>

    <md-content id="initiativeHeaderBox" class="initiativeHeaderBox" style="overflow: auto">

      <div id="headerInfoBox">
        <div id="initiativeGeneralBox" class="initiativeGeneralBox">
          <div layout="row" class="blackTitle" layout-align="space-between center">
            <h1 id="articlesTitle" >
              <i class="fa fa-th-large fa-fw"></i> <%= __('Header') %>
            </h1>

            <h3 id="articlesTitle" class="blackTitle">
              <i class="fa fa-calendar fa-fw"></i> {{initiative.createdAt|date:'medium'}}
            </h3>
          </div>

          <md-input-container flex >
            <label><h2><%= __('Title') %> </h2></label>
            <textarea class="initiativeTitle" ng-model="initiative.title" columns="1" md-maxlength="500"
                      dir-share-text-area="Title{{initiativeId}}"></textarea>
          </md-input-container>


          <md-input-container flex class="form-signin-heading">
            <label><h2><%= __('Description') %> </h2></label>
            <textarea class="initiativeParagraph" ng-model="initiative.description" columns="1" md-maxlength="1000"
                      dir-share-text-area="Description{{initiativeId}}"></textarea>
          </md-input-container>


          <md-input-container flex class="form-signin-heading">
            <label><h2><%= __('Motivation') %> </h2></label>
            <textarea class="initiativeParagraph" ng-model="initiative.motivation" columns="1"
                      dir-share-text-area="Motivation{{initiativeId}}"></textarea>
          </md-input-container>


          <md-input-container class="form-signin-heading">
            <label><h2><%= __('LegalFramework') %> </h2></label>
            <textarea flex class="initiativeParagraph" ng-model="initiative.legalFramework" columns="1"
                      dir-share-text-area="LegalFramework{{initiativeId}}"></textarea>
          </md-input-container>


          <div layout="row" class="blackTitle" layout-align="space-between center">
            <h1 id="articlesTitle">
              <i class="fa fa-th-list fa-fw"></i> <%= __('Articles') %>
            </h1>
          </div>

          <div layout="column">
            <div id="articleBox" ng-repeat="article in articleList | orderBy:'articleNumber'">

              <div id="articleActionsBox" layout="row">
                <div flex="85">
                  <h2 id="articletitle" class="form-signin-heading">
                    <b><%= __('Article') %> {{article.articleNumber}}</b> : {{article.title }}
                  </h2>
                </div>

                <div layout="row" flex layout-align="center center">
                  <a id="articletitle" class="Articletitle"
                     ui-sref="legislator.editArticle({initiativeId: initiative.id, articleId: article.id})">
                    <%= __('Edit') %>
                  </a>

                  <div ng-show="initiative.author.id == user.id || article.author.id == user.id">
                    <button id="articletitle" class="Articletitle btn btn-warning" ng-click="showDeleteBox=true"
                            ng-show="!showDeleteBox"
                            ng-show="initiative.author.id == user.id || article.author.id == user.id">
                      <%= __('Delete') %>
                    </button>
                    <button id="articletitle" class="Articletitle btn btn-danger" ng-show="showDeleteBox"
                            ng-click="deleteArticle(article.id)"
                            ng-show="initiative.author.id == user.id || article.author.id == user.id">
                      <%= __('Yes') %>
                    </button>

                    <button id="articletitle" class="Articletitle btn btn-success" ng-show="showDeleteBox"
                            ng-click="showDeleteBox=false"
                    ">
                    <%= __('No') %>
                    </button>
                  </div>

                </div>
              </div>
              <div flex>
              <pre id="articleCurrentVersion" class="textParagraph">
                {{article.currentVersion }}
              </pre>
              </div>

            </div>
          </div>
        </div>
      </div>
    </md-content>

  </div>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCollaboratorBox">
    <%- include ../common/partials/collaborators.ejs %>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showMessagesBox">
    <%- include ../common/partials/messages.ejs %>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCommentBox">
    <%- include ../common/partials/comments.ejs %>
  </md-sidenav>

</div>
