<div ng-cloak layout="row" ng-controller="InitiativesController" ng-cloak  flex>
  <%- include ../common/actionBar.ejs %>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>

      <i class="fa fa-search fa-lg"></i>
      <md-input-container md-no-float flex >
        <input id="searchInitiativeText" type="search" placeholder="<%= __('Search') %>"
               ng-model="list.filter" ng-keyup="filterInitiatives(list.filter)" />
      </md-input-container>
    </md-toolbar>

    <md-content id="initiativeList" class="initiativeList" style="overflow: auto;" layout="column">
      <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in initiativeList track by initiative.id">
        <div id="initiativeInfo" class="initiativeInfo" flex>
          <p id="title" class="title"> {{ initiative.title }} </p>

          <p id="description" class="description"> {{ initiative.description }} </p>
        </div>
        <div id="initiativeActions" layout="row" layout-align="end center">


          <md-button ui-sref="legislator.viewInitiative({initiativeId: initiative.id})" class="md-icon-button"
                     aria-label="Like">
            <md-icon md-font-icon="fa-binoculars" class="fa fa-lg md-primary">
            </md-icon>
            <md-tooltip>
              <%= __('InvolveMe') %>
            </md-tooltip>
          </md-button>

          <md-button aria-label="Like" ng-disabled="hasVoted(initiative)" class="md-icon-button"
                     ng-click="likeItem(initiative.id, initiative)" class="text-success">
            <b class="text-success">
              {{initiative.userLikesIds.length}}
            </b>
            <md-icon md-font-icon="fa-heart" class="fa fa-lg md-icon-button text-success">
            </md-icon>
            <md-tooltip>
              <%= __('Like') %>
            </md-tooltip>
          </md-button>

          <md-button ng-disabled="hasVoted(initiative)" class="md-icon-button"
                  ng-click="dislikeItem(initiative.id, initiative)">
            <b class="text-danger">
              {{initiative.userDislikesIds.length}}
            </b>
            <md-icon md-font-icon="fa-fire" class="fa fa-lg md-icon-button text-danger">
            </md-icon>
            <md-tooltip>
              <%= __('Dislike') %>
            </md-tooltip>

          </md-button>
        </div>
      </div>
    </md-content>

  </div>
</div>