<div ng-cloak layout="row" ng-controller="MyInitiativesController"  ng-cloak flex>
  <%- include ../common/actionBar.ejs %>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
    <span>
      <h1 id="myInitiativeListTitle">
        <i class="fa fa-user fa-fw"></i> <%= __('MyInitiatives') %>
      </h1>
    </span>
    </md-toolbar>


    <md-content id="myInitiativeList" class="initiativeList" style="overflow: auto">
      <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in myInitiativeList">
        <div id="initiativeInfo" class="initiativeInfo">
          <p id="title" class="title" ng-bind="initiative.title"></p>

          <p id="description" class="description"> {{ initiative.description }} </p>
        </div>

        <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="20"
                              ng-show="initiative.isDeleting"></md-progress-circular>
        <div id="initiativeActions" class="initiativeAction" ng-show="!initiative.isDeleting">
          <md-button ui-sref="legislator.editInitiative({initiativeId: initiative.id})" class="md-icon-button"
                     aria-label="Settings">
            <md-icon md-font-icon="fa-edit" class="fa fa-lg colorPurple">
            </md-icon>
            <md-tooltip>
              <%= __('Edit') %>
            </md-tooltip>
          </md-button>

          <md-button class="md-icon-button" ng-click="showDeleteBox=true"
                     ng-show="!showDeleteBox" aria-label="Settings">
            <md-icon md-font-icon="fa-trash" class="fa fa-lg colorRed">
            </md-icon>
            <md-tooltip>
              <%= __('Delete') %>
            </md-tooltip>
          </md-button>

          <div ng-show="showDeleteBox">
            <md-button class="md-icon-button"
                       ng-click="deleteItem(initiative) " aria-label="Settings">
              <md-icon md-font-icon="fa-check" class="fa fa-lg colorRed">
              </md-icon>
              <md-tooltip>
                <%= __('Yes') %>
              </md-tooltip>
            </md-button>

            <md-button class="md-icon-button"
                       ng-click="showDeleteBox=false" aria-label="Settings">
              <md-icon md-font-icon="fa-close" class="fa fa-lg colorGreen">
              </md-icon>
              <md-tooltip>
                <%= __('No') %>
              </md-tooltip>
            </md-button>

          </div>
        </div>
      </div>
    </md-content>

  </div>
</div>