   <div class="container" ng-controller="NewInitiativeController">
      <form class="form-signin" action="initiative/create" method="POST" >
      
        <h2 class="form-signin-heading">Title </h2>
        <input type="text" class="input-block-level" name="title" placeholder="Title">

        <h2 class="form-signin-heading">Description </h2>
        <input type="text" class="input-block-level" name="description" placeholder="Description">

        <h2 class="form-signin-heading">Motivation </h2>
        <input type="text" class="input-block-level" name="motivation" placeholder="Motivation">

        <h2 class="form-signin-heading">Legal Framework </h2>
        <input type="text" class="input-block-level" name="legalFramework" placeholder="Legal Framework">

        <input type="submit" class="btn btn-large btn-primary" name="submit" Value="Nueva iniciativa">
      </form>
    </div>


