<div ng-cloak layout="row" ng-controller="MyInitiativesController" ng-cloak flex>
  <%- include ../common/actionBar.ejs %>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
      <span>
        <h1 id="sharedInitiativeListTitle">
          <i class="fa fa-users fa-fw"></i> <%= __('SharedInitiatives') %>
        </h1>
      </span>
    </md-toolbar>


    <md-content id="sharedInitiativeList" class="initiativeList" style="overflow: auto;">
      <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in sharedInitiativeList">
        <div id="initiativeInfo" class="initiativeInfo">
          <p id="title" class="title"> {{ initiative.title }} </p>

          <p id="description" class="description"> {{ initiative.description }} </p>
        </div>
        <div id="initiativeActions" class="initiativeAction">
          <md-button ui-sref="legislator.editInitiative({initiativeId: initiative.id})" class="md-icon-button"
                     aria-label="Settings">
            <md-icon md-font-icon="fa-pencil" class="fa fa-lg colorPurple">
            </md-icon>
            <md-tooltip>
              <%= __('Edit') %>
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </md-content>

  </div>
</div>