<div ng-cloak layout="row" ng-controller="EditInitiativeController" ng-cloak flex>
  <%- include ../common/actionBar.ejs %>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
    <span>
      <h1 id="myInitiativeListTitle">
        <i class="fa fa-file-text fa-fw"></i> <%= __('ViewInitiative') %>
      </h1>
    </span>
    </md-toolbar>

    <md-content id="initiativeHeaderBox" style="overflow: auto" >
      <div layout="row" class="blackTitle" layout-align="space-between center">
        <h1 id="articlesTitle" >
          <i class="fa fa-th-large fa-fw"></i> <%= __('Header') %>
        </h1>
        <h3 id="articlesTitle" class="blackTitle">
          <i class="fa fa-calendar fa-fw"></i> {{initiative.createdAt|date:'medium'}}
        </h3>
      </div>

      <span>
        <h2 id="title" class="initiativeTitle" ng-bind="initiative.title"
            contenteditable="false" data-ph="<%= __('Title') %>">
        </h2>
      </span>


      <h2 class="form-signin-heading"><%= __('Description') %> </h2>

      <p id="description" class="initiativeParagraph" ng-bind="initiative.description"
         contenteditable="false"
         data-ph="<%= __('Description') %>">
      </p>


      <h2 class="form-signin-heading"><%= __('Motivation') %> </h2>

      <p id="motivation" class="initiativeParagraph" ng-bind="initiative.motivation"
         contenteditable="false"
         data-ph="<%= __('Motivation') %>">
      </p>

      <h2 class="form-signin-heading"><%= __('LegalFramework') %> </h2>

      <p id="legalFramework" class="initiativeParagraph" ng-bind="initiative.legalFramework"
         contenteditable="false"
         data-ph="<%= __('LegalFramework') %>">
      </p>
      <div layout="row" class="blackTitle" layout-align="space-between center">
        <h1 id="articlesTitle">
          <i class="fa fa-th-list fa-fw"></i> <%= __('Articles') %>
        </h1>
      </div>

      <div id="articleBox" class="articleBox" ng-repeat="article in articleList | orderBy:'articleNumber'">

        <h2 id="articletitle" class="form-signin-heading">
          <b><%= __('Article') %> {{article.articleNumber}}</b> : {{article.title }}
        </h2>


          <pre id="articleCurrentVersion" class="textParagraph">
            {{article.currentVersion }}
          </pre>

      </div>
    </md-content>
  </div>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCollaboratorBox">
    <%- include ../common/partials/collaboratorsGuest.ejs %>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showMessagesBox">
    <%- include ../common/partials/messages.ejs %>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCommentBox">
    <%- include ../common/partials/commentsGuest.ejs %>
  </md-sidenav>
</div>


