<div id="usersBox" layout="column" flex>
  <md-toolbar layout="row" layout-align="center center">
    <h4>
      <i class="fa fa-users"> <%= __('Collaborators') %> </i>
    </h4>
  </md-toolbar>

  <div class="blackTitle" layout="row">
    <h4><i class="fa fa-user"> </i></h4>

    <div flex layout-align="center center">
      <h4><%= __('Author') %>  </h4>
    </div>
  </div>

  <div layout="row" layout-align="center center">
    <a ui-sref="legislator.user({userId: initiative.author.id})">
      <img ng-src="{{initiative.author.photoUrl}}" class="md-avatar"/>
    </a>

    <div class="md-list-item-text" flex>
      <h5>{{ initiative.author.name}} </h5>
      <h5>{{initiative.author.lastName}}</h5>
      <h5>{{ initiative.author.email}}</h5>
    </div>
  </div>

  <div class="blackTitle" layout-align="space-between center" layout="row">
    <h4><i class="fa fa-users"> </i></h4>
    <h4><%= __('Collaborators') %>  </h4>
    <h4>
      {{initiative.collaborators.length}}
    </h4>
  </div>

  <div id="searchUserBox" layout="column">
    <md-input-container md-no-float>
      <input type="text"  ng-change="loadUsers(userName.SearchText)"
             ng-init="userName.SearchText=nada" ng-model="userName.SearchText"
             placeholder="<%= __('SearchToAddUsers') %>">
    </md-input-container>


    <div ng-show="(!initiative.collaborators || initiative.collaborators.length == 0) && !(userName.SearchText)">
      <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
        <label><h3><%= __('AddCollaboratorsMessage') %> </h3></label>
      </md-whiteframe>
    </div>
    <div ng-show="(!users || users.length == 0) && (userName.SearchText)">
      <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
        <label><h3><%= __('NoCollaboratorsMessage') %> </h3></label>
      </md-whiteframe>
    </div>

    <md-list>
      <md-subheader ng-show="users.length > 0 " class="md-no-sticky"><%= __('CollaboratorsToAdd') %> </md-subheader>
      <md-list-item ng-repeat="user in users" ng-click="goTouserPage(collaborator.id)" layout-align="center center">
        <img alt="{{ user.name }}" ng-src="{{ user.photoUrl }}" class="md-avatar"/>
        <div flex>
          <h5> {{user.name}} {{user.lastName}}</h5>
          <h5> {{user.email}} </h5>
        </div>
        <md-icon md-font-icon="fa-plus-square" class="fa fa-lg md-secondary md-hue-3" ng-click="addCollaborator(user.id)"
                 aria-label="Remove"></md-icon>
      </md-list-item>
    </md-list>


  </div>

  <md-list flex>
    <md-subheader class="md-no-sticky"><%= __('Collaborators') %> </md-subheader>
    <md-list-item ng-repeat="collaborator in initiative.collaborators" ng-click="goTouserPage(collaborator.id)" layout-align="center center">
      <img alt="{{ collaborator.name }}" ng-src="{{ collaborator.photoUrl }}" class="md-avatar"/>
      <div flex>
        <h5> {{collaborator.name}} {{collaborator.lastName}}</h5>
        <h5> {{collaborator.email}} </h5>
      </div>
      <md-icon md-font-icon="fa-minus-square" class="fa fa-lg md-secondary md-hue-3" ng-click="removeCollaborator(collaborator.id)"
               aria-label="Remove"></md-icon>
    </md-list-item>
  </md-list>

</div>

