<div id="usersBox" ng-controller="commentController" layout="column" flex layout-align="space-between center">
  <md-toolbar layout-align="center center">
    <h4>
      <i class="fa fa-comments-o"> <%= __('Comments') %></i>
    </h4>
  </md-toolbar>

  <md-content id="messagesBox" layout="column" flex >
    <md-list id="commentsBox" scroll-glue style="overflow: scroll">
      <div ng-repeat="comment in comments | filter:{status : filteredStatus} track by comment.id "
           ng-class="{'list-group-item-success':(comment.status=='solved'), 'list-group-item-warning': (comment.status=='ignored'), 'list-group-item-danger':(comment.status=='opened')}"
           flex layout-align="center center">
        <md-list-item class="md-3-line" layout-align="center center">
          <div layout="column" layout-align="center center">
            <img ng-src="{{comment.commentedBy.photoUrl}}" class="img-circle" alt="{{item.who}}"/>

          </div>

          <div layout="column" flex>
            <h5><b>{{comment.commentedBy.name}} </b></h5>

            <p> {{comment.text}}</p>
            <div layout="row" layout-align="space-between center" flex>
              <h6> {{comment.createdAt|date:'medium'}}</h6>
              <button class="btn btn-default btn-sm" title="<%= __('Check') %>" ng-click="showRatedBox=!showRatedBox">
                <i class="fa fa-reply fa-xs"></i>
              </button>
            </div>

          </div>
        </md-list-item>

        <div layout="row" ng-show="showRatedBox" layout-align="center center">
          <md-input-container flex class="form-signin-heading">
            <label><%= __('Reply') %> </label>
            <textarea name="" id="" rows="2" ng-model="comment.reply" flex md-maxlength="150"></textarea>
          </md-input-container>


          <div layout="column">
            <button class="btn btn-danger btn-xs" title="<%= __('Open') %>"
                    ng-click="updateCommentStatus(comment, 'opened',$index)" ng-show="comment.status != 'opened'">
              <i class="fa fa-circle-thin fa-xs"></i>
            </button>
            <button class="btn btn-success btn-xs" title="<%= __('Solve') %>"
                    ng-click="updateCommentStatus(comment, 'solved', $index)" ng-show="comment.status != 'solved'">
              <i class="fa fa-check fa-xs"></i>
            </button>
            <button class="btn btn-warning btn-xs" title="<%= __('Ignore') %>"
                    ng-click="updateCommentStatus(comment, 'ignored',$index)" ng-show="comment.status != 'ignored'">
              <i class="fa fa-dot-circle-o fa-xs"></i>
            </button>
            <button class="btn btn-danger btn-xs" title="<%= __('Delete') %>"
                    ng-click="deleteComment(comment)" ng-show="comment.commentedBy.id == user.id">
              <i class="fa fa-trash fa-xs"></i>
            </button>
          </div>
        </div>
      </div>
    </md-list>

    <div id="writeComment" layout="column" style="max-height: 90px; min-height: 90px">
      <div id="filterbox" layout="row" style="font-size: 10px">
        <button class="btn btn-primary " title="<%= __('All') %>" ng-click="filteredStatus=''">
          <i class="fa fa-bars fa-xs"></i>
          <%= __('All') %>
        </button>
        <button class="btn btn-danger btn-xs " title="<%= __('Opened') %>" ng-click="filteredStatus='opened'">
          <i class="fa fa-circle-thin fa-xs"></i>
          <%= __('Opened') %>
        </button>
        <button class="btn btn-success btn-xs" title="<%= __('Solved') %>" ng-click="filteredStatus='solved'">
          <i class="fa fa-check fa-xs"></i>
          <%= __('Solved') %>
        </button>
        <button class="btn btn-warning btn-xs" title="<%= __('Ignored') %>"
                ng-click="filteredStatus='ignored'">
          <i class="fa fa-trash fa-xs"></i>
          <%= __('Ignored') %>
        </button>
      </div>
      <div layout="row" flex>
        <textarea id="commentText" type="text" class="commentText col-xs-10" ng-model="commentText"
                  placeholder="<%= __('writeToShare') %>" flex>
        </textarea>

        <button id="commentText" class="btn btn-warning btn-xs col-xs-2" placeholder="<%= __('writeToShare') %>"
                ng-click="addComment(commentText)">
          <%= __('Send') %>
        </button>
      </div>
    </div>

  </md-content>


</div>

