<div id="chatBox" layout="column" ng-controller="MessagesController" flex>
  <md-toolbar layout="row" layout-align="center center">
      <h4>
        <i class="fa fa-comments-o"> <%= __('Messages') %> </i>
      </h4>
  </md-toolbar>

  <md-content id="messagesBox" layout="column" flex>
    <md-list style="overflow: auto" flex scroll-glue>
      <md-subheader class="md-no-sticky"><%= __('Messages') %></md-subheader>
        <md-list-item class="md-3-line" ng-repeat="message in messages">

          <img ng-src="{{message.writtenBy.photoUrl}}" class="md-avatar" alt="{{message.writtenBy.name}}" />

          <div class="md-list-item-text">
            <h3> <b>{{message.writtenBy.name}} </b></h3>
            <p>  {{message.text}}</p>
            <h6> {{message.createdAt|date:'medium'}}</h6>
          </div>
        </md-list-item>

    </md-list>


    <div id="writeMessage" layout="row" style="max-height: 60px; min-height: 60px">
      <textarea id="messageText" type="text" ng-model="messageText"
                placeholder="<%= __('writeToShare') %>" flex>
      </textarea>
      <button id="messageText" class="messageText btn btn-success" placeholder="<%= __('writeToShare') %>"
              ng-click="addMessage(messageText)">
        <%= __('Send') %>
      </button>
    </div>
  </md-content>
</div>
