<div ng-cloak layout="row" ng-controller="EditInitiativeController" flex>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
      <div id="actionBar" layout="row" layout-align="space-between center" flex>
        <div class="actionBoxLeft" layout-align="center center" layout="row">
          <a id="SaveHeader" title="Save Header" ng-click="saveHeader()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-save fa-stack-1x fa-inverse"></i>
            </span>
          </a>

          <a id="CreateArticle" title="Create Article" ng-click="createArticle()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>

          <a id="LinkedData" title="LinkedData" ng-click="goToLinkedData()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>

        <div class="actionBoxRight" layout-align="center center" layout="row" ng-mouseenter="showSearchBox=true"
             ng-mouseleave="showSearchBox=false">

          <a id="Users" title="Users" ng-click="toggleAddCollaboratorBox()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
          </a>

          <a id="Chat" title="Chat" ng-click="toggleChatBox()">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
          </a>

          <a id="Comments" title="Comments" ng-click="toggleCommentsBox()">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
              </span>
          </a>
        </div>
      </div>

    </md-toolbar>


    <md-content id="initiativeHeaderBox" style="overflow: auto">

      <section id="initiativeGeneralBox" layout="column">
        <div layout-align="space-between center" layout="row">
          <h1 id="articlesTitle">
            <i class="fa fa-th-large fa-fw"></i> {{'Header'| translate }}
          </h1>
          <h3 id="articlesTitle">
            <i class="fa fa-calendar fa-fw"></i> {{initiative.createdAt|date:'medium'}}
          </h3>

        </div>

        <md-input-container flex>
          <label><h2>{{'Title'| translate }} </h2></label>
          <textarea class="initiativeTitle" ng-model="initiative.title" columns="1" md-maxlength="500"
                    dir-share-text-area="Title{{initiativeId}}"></textarea>
        </md-input-container>


        <md-input-container flex class="form-signin-heading">
          <label><h2>{{'Description'| translate }} </h2></label>
          <textarea class="initiativeParagraph" ng-model="initiative.description" columns="1" md-maxlength="1000"
                    dir-share-text-area="Description{{initiativeId}}"></textarea>
        </md-input-container>


        <md-input-container flex class="form-signin-heading">
          <label><h2>{{'Motivation'| translate }} </h2></label>
          <textarea class="initiativeParagraph" ng-model="initiative.motivation" columns="1"
                    dir-share-text-area="Motivation{{initiativeId}}"></textarea>
        </md-input-container>


        <md-input-container class="form-signin-heading">
          <label><h2>{{'LegalFramework'| translate }} </h2></label>
          <textarea flex class="initiativeParagraph" ng-model="initiative.legalFramework" columns="1"
                    dir-share-text-area="LegalFramework{{initiativeId}}"></textarea>
        </md-input-container>

      </section>
      <section layout="column">
        <div layout="row" layout-align="space-between center">
          <h1 id="articlesTitle">
            <i class="fa fa-th-list fa-fw"></i> {{'Articles'| translate }}
          </h1>
        </div>
        <div id="articleBox" ng-repeat="article in articleList | orderBy:'articleNumber'">

          <div id="articleActionsBox" layout="row">
            <div flex="85">
              <h2 id="articletitle" class="form-signin-heading">
                <b>{{'Article'| translate }} {{article.articleNumber}}</b> : {{article.title }}
              </h2>
            </div>

            <div layout="row" flex layout-align="center center">
              <a id="articletitle" class="Articletitle"
                 ui-sref="editArticle({initiativeId: initiative.id, articleId: article.id})">
                {{'Edit'| translate }}
              </a>

              <div ng-show="initiative.author.id == user.id || article.author.id == user.id">
                <button id="articletitle" class="Articletitle btn btn-warning" ng-click="showDeleteBox=true"
                        ng-show="!showDeleteBox"
                        ng-show="initiative.author.id == user.id || article.author.id == user.id">
                  {{'Delete'| translate }}
                </button>
                <button id="articletitle" class="Articletitle btn btn-danger" ng-show="showDeleteBox"
                        ng-click="deleteArticle(article.id)"
                        ng-show="initiative.author.id == user.id || article.author.id == user.id">
                  {{'Yes'| translate }}
                </button>

                <button id="articletitle" class="Articletitle btn btn-success" ng-show="showDeleteBox"
                        ng-click="showDeleteBox=false">
                  {{'No'| translate }}
                </button>
              </div>

            </div>
          </div>
          <div flex>
              <pre id="articleCurrentVersion" class="textParagraph">
                {{article.currentVersion }}
              </pre>
          </div>

        </div>
      </section>
    </md-content>

  </div>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCollaboratorBox">
    <collaborators-panel></collaborators-panel>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showMessagesBox">
    <chat-panel></chat-panel>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCommentBox">
    <comments-panel></comments-panel>
  </md-sidenav>

</div>
