<div ng-cloak layout="row" ng-controller="InitiativesController" flex>

  <div id="contentContainer" layout="column" flex>

    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
      <div id="actionBar" layout="row" layout-align="space-between center" style="background-color: cadetblue" flex>
        <div class="actionBoxLeft" layout-align="center center" layout="row">
          <a href="/createeditinitiative" id="New" target="_self" title="Nueva">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
          </a>
        </div>

        <div class="searchBox" layout-align="center center" layout="row" ng-mouseenter="showSearchBox=true"
             ng-mouseleave="showSearchBox=false">
          <input id="searchInitiativeText" type="search" placeholder="{{'Search'| translate }}..."
                 ng-model="list.filter" ng-keyup="filterInitiatives(list.filter)" class="searchBoxText"
                 ng-class="(showSearchBox==true)? 'searchBoxExpanded' : ''"/>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

    </md-toolbar>

    <md-content id="initiativeList" class="initiativeList" style="overflow: scroll" layout="row" layout-wrap>
      <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in initiativeList track by initiative.id" flex>
        <div id="initiativeInfo" class="initiativeInfo" flex>
          <p id="title" class="title"> {{ initiative.title }} </p>

          <p id="description" class="description"> {{ initiative.description }} </p>
        </div>
        <div id="initiativeActions" layout="row" layout-align="end center">


          <md-button ui-sref="viewInitiative({initiativeId: initiative.id})" class="md-icon-button"
                     aria-label="Like">
            <md-icon md-font-icon="fa-binoculars" class="fa fa-lg md-primary">
            </md-icon>
            <md-tooltip>
              {{'InvolveMe'| translate }}
            </md-tooltip>
          </md-button>

          <md-button aria-label="Like" ng-disabled="hasVoted(initiative)" class="md-icon-button"
                     ng-click="likeItem(initiative.id, initiative)" class="text-success">
            <b class="text-success">
              {{initiative.userLikesIds.length}}
            </b>
            <md-icon md-font-icon="fa-heart" class="fa fa-lg md-icon-button text-success">
            </md-icon>
            <md-tooltip>
              {{'Like'| translate }}
            </md-tooltip>
          </md-button>

          <md-button ng-disabled="hasVoted(initiative)" class="md-icon-button"
                     ng-click="dislikeItem(initiative.id, initiative)">
            <b class="text-danger">
              {{initiative.userDislikesIds.length}}
            </b>
            <md-icon md-font-icon="fa-fire" class="fa fa-lg md-icon-button text-danger">
            </md-icon>
            <md-tooltip>
              {{'Dislike'| translate }}
            </md-tooltip>

          </md-button>
        </div>
      </div>
    </md-content>

  </div>
</div>