<div ng-cloak layout="row" ng-controller="MyInitiativesController"  ng-cloak flex>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
      <div id="actionBar" layout="row" layout-align="space-between center" style="background-color: cadetblue" flex>
        <div class="actionBoxLeft" layout-align="center center" layout="row">
          <a href="/createeditinitiative" id="New" target="_self" title="Nueva">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
          </a>
        </div>

        <div class="searchBox" layout-align="center center" layout="row" ng-mouseenter="showSearchBox=true" ng-mouseleave="showSearchBox=false">
          <input id="searchInitiativeText" type="search" placeholder="{{'Search'| translate }}..."
                 ng-model="list.filter" ng-keyup="filterInitiatives(list.filter)" class="searchBoxText" ng-class="(showSearchBox==true)? 'searchBoxExpanded' : ''" />
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

    </md-toolbar>

    <md-content id="myInitiativeList" class="initiativeList" style="overflow: scroll" layout="row" layout-wrap>
      <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in myInitiativeList" flex>
        <div id="initiativeInfo" class="initiativeInfo">
          <p id="title" class="title" ng-bind="initiative.title"></p>

          <p id="description" class="description"> {{ initiative.description }} </p>
        </div>

        <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="20"
                              ng-show="initiative.isDeleting"></md-progress-circular>
        <div id="initiativeActions" class="initiativeAction" ng-show="!initiative.isDeleting">
          <md-button ui-sref="editInitiative({initiativeId: initiative.id})" class="md-icon-button"
                     aria-label="Settings">
            <md-icon md-font-icon="fa-edit" class="fa fa-lg colorPurple">
            </md-icon>
            <md-tooltip>
              {{'Edit'| translate }}
            </md-tooltip>
          </md-button>

          <md-button class="md-icon-button" ng-click="showDeleteBox=true"
                     ng-show="!showDeleteBox" aria-label="Settings">
            <md-icon md-font-icon="fa-trash" class="fa fa-lg colorRed">
            </md-icon>
            <md-tooltip>
              {{'Delete'| translate }}
            </md-tooltip>
          </md-button>

          <div ng-show="showDeleteBox">
            <md-button class="md-icon-button"
                       ng-click="deleteItem(initiative) " aria-label="Settings">
              <md-icon md-font-icon="fa-check" class="fa fa-lg colorRed">
              </md-icon>
              <md-tooltip>
                {{'Yes'| translate }}
              </md-tooltip>
            </md-button>

            <md-button class="md-icon-button"
                       ng-click="showDeleteBox=false" aria-label="Settings">
              <md-icon md-font-icon="fa-close" class="fa fa-lg colorGreen">
              </md-icon>
              <md-tooltip>
                {{'No'| translate }}
              </md-tooltip>
            </md-button>

          </div>
        </div>
      </div>
    </md-content>

  </div>
</div>