<div ng-cloak layout="row" ng-controller="MyInitiativesController" ng-cloak flex>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center">
      <div id="actionBar" layout="row" layout-align="space-between center" style="background-color: cadetblue" flex>
        <div class="actionBoxLeft" layout-align="center center" layout="row">
          <a href="/createeditinitiative" id="New" target="_self" title="Nueva">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
          </a>
        </div>

        <div class="searchBox" layout-align="center center" layout="row" ng-mouseenter="showSearchBox=true" ng-mouseleave="showSearchBox=false">
          <input id="searchInitiativeText" type="search" placeholder="{{'Search'| translate }}..."
                 ng-model="list.filter" ng-keyup="filterInitiatives(list.filter)" class="searchBoxText" ng-class="(showSearchBox==true)? 'searchBoxExpanded' : ''" />
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

    </md-toolbar>


    <md-content id="sharedInitiativeList" class="initiativeList" style="overflow: auto;" layout="row" layout-wrap>
      <div id="initiativeBox" class="initiativeBox" ng-repeat="initiative in sharedInitiativeList" flex>
        <div id="initiativeInfo" class="initiativeInfo">
          <p id="title" class="title"> {{ initiative.title }} </p>

          <p id="description" class="description"> {{ initiative.description }} </p>
        </div>
        <div id="initiativeActions" class="initiativeAction">
          <md-button ui-sref="editInitiative({initiativeId: initiative.id})" class="md-icon-button"
                     aria-label="Settings">
            <md-icon md-font-icon="fa-pencil" class="fa fa-lg colorPurple">
            </md-icon>
            <md-tooltip>
              {{'Edit'| translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </md-content>

  </div>
</div>