<div ng-cloak layout="row" ng-controller="EditInitiativeController" ng-cloak flex>

  <div id="contentContainer" layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
      <div id="actionBar" layout="row" layout-align="space-between center" style="background-color: cadetblue" flex>
        <div class="actionBoxLeft" layout-align="center center" layout="row">
          <a id="SaveHeader" title="Save Header" ng-click="saveHeader()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-save fa-stack-1x fa-inverse"></i>
            </span>
          </a>

          <a id="CreateArticle" title="Create Article" ng-click="createArticle()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>

          <a id="LinkedData" title="LinkedData" ng-click="goToLinkedData()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>

        <div class="actionBoxRight" layout-align="center center" layout="row" ng-mouseenter="showSearchBox=true"
             ng-mouseleave="showSearchBox=false">
          <div ng-class="(showSearchBox==true)? 'searchBoxExpanded' : ''">
            <a id="Users" title="Users" ng-click="toggleAddCollaboratorBox()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            </a>

            <a id="Chat" title="Chat" ng-click="toggleChatBox()">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
            </a>

            <a id="Comments" title="Comments" ng-click="toggleCommentsBox()">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
              </span>
            </a>


            <a id="Chat" title="Chat" ng-click="toggleChatBox()">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
            </a>

          </div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>

    </md-toolbar>

    <md-content id="initiativeHeaderBox" style="overflow: auto">
      <div layout="row" class="blackTitle" layout-align="space-between center">
        <h1 id="articlesTitle">
          <i class="fa fa-th-large fa-fw"></i> {{'Header'| translate }}
        </h1>

        <h3 id="articlesTitle" class="blackTitle">
          <i class="fa fa-calendar fa-fw"></i> {{initiative.createdAt|date:'medium'}}
        </h3>
      </div>

      <span>
        <h2 id="title" class="initiativeTitle" ng-bind="initiative.title"
            contenteditable="false" data-ph="{{'Title'| translate }}">
        </h2>
      </span>


      <h2 class="form-signin-heading">{{'Description'| translate }} </h2>

      <p id="description" class="initiativeParagraph" ng-bind="initiative.description"
         contenteditable="false"
         data-ph="{{'Description'| translate }}">
      </p>


      <h2 class="form-signin-heading">{{'Motivation'| translate }} </h2>

      <p id="motivation" class="initiativeParagraph" ng-bind="initiative.motivation"
         contenteditable="false"
         data-ph="{{'Motivation'| translate }}">
      </p>

      <h2 class="form-signin-heading">{{'LegalFramework'| translate }} </h2>

      <p id="legalFramework" class="initiativeParagraph" ng-bind="initiative.legalFramework"
         contenteditable="false"
         data-ph="{{'LegalFramework'| translate }}">
      </p>

      <div layout="row" class="blackTitle" layout-align="space-between center">
        <h1 id="articlesTitle">
          <i class="fa fa-th-list fa-fw"></i> {{'Articles'| translate }}
        </h1>
      </div>

      <div id="articleBox" class="articleBox" ng-repeat="article in articleList | orderBy:'articleNumber'">

        <h2 id="articletitle" class="form-signin-heading">
          <b>{{'Article'| translate }} {{article.articleNumber}}</b> : {{article.title }}
        </h2>


          <pre id="articleCurrentVersion" class="textParagraph">
            {{article.currentVersion }}
          </pre>

      </div>
    </md-content>
  </div>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCollaboratorBox">
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showMessagesBox">
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showCommentBox">
  </md-sidenav>
</div>


