.searchBox {
  height: 60px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background: rgba(255, 255, 255, 0.61);
  padding: 5px;
  transition: all 0.5s ease;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #666666;
}

.actionBoxLeft {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background: rgba(255, 255, 255, 0.61);
  height: 60px;
  padding: 5px;
}
.actionBoxRight {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: rgba(255, 255, 255, 0.61);
  height: 60px;
  padding: 5px;
}
.searchBoxText{
  transition: all 0.5s ease;
  border: none;
  outline: none;
  background: transparent;
  text-align: end;
  width: 0px;
}

.searchBoxExpanded {
  width: 250px;
}