@colors: rgba(181, 34 , 45 , 0.8)
        ,rgba(162, 0  , 255, 0.8)
        ,rgba(140, 191, 38 , 0.8)
        ,rgba(235, 147, 22 , 0.8)
        ,rgba(42 , 171, 210, 0.8);


.colorRed{
  color: extract(@colors, 1);
}

.colorPurple{
  color: extract(@colors, 2);
}

.colorGreen{
  color: extract(@colors, 3);
}

.colorOrange{
  color: extract(@colors, 4);
}

.colorBlue{
  color: extract(@colors, 5);
}



html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: flex-start;
  align-items:stretch;   
  align-self:stretch;
}

a {
  color: #666666;
  font-weight: bold; 
  transition: 0.5s all;  
  border-style:solid;
  border-color: transparent;
  text-decoration: none;

}

a:hover {
  color: #000000;
  border-style:solid;
  border-color: transparent;
  text-decoration: none;
}

pre{
  background-color: transparent;
  border: transparent;
}

.contentContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: flex-start;
  align-items:flex-start;  
  flex:1 1 auto;
  align-self:stretch;
}

 h1{
  font-size: 30px;  
 }

 h2{
  font-size: 25px;  
 }

 h3{
  font-size: 20px;  
 }

.blackTitle{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: 1s all;
}

.indexBox{
  //background-color:#343435;
  min-width: 400px;
}

.indexBox p{
  color: white;
  font-size: 48px;
  padding: 10px ;
  margin: 10px ;
  width: 600px ;
  line-height:100%;
  text-align: right;
}



.initiativeTitle{
  flex: 0 0 auto;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 50px!important;
  font-size: 50px;
  letter-spacing: -0.04em;
  line-height: 1;
  color: #333332;
  margin-bottom: 8px;
  outline: 0px none;
  text-align: center;
  outline: none;
  border: none;
}

.initiativeParagraph{
  flex: 0 0 auto;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #666665;
  margin-bottom: 4px;
  white-space: pre;
  word-wrap: break-word;
}

.formBox{
  padding: 10px;
  margin: 10px 15px;
  background: rgba(255,255,255,0.5);
}

.btn-large{
  background: extract(@colors, 3);
  color:rgba(255,255,255,0.8);;
}

.btn-large:hover{
  background: extract(@colors, 3);
  color:rgba(255,255,255,1);;
}


.textParagraph{
  flex: 1 0 auto;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #666665;
  margin-bottom: 4px;
  text-align:justify;
  white-space: pre-wrap;
}

.form-control{
  min-width: 100%;
  min-height: 30px;
  width: auto;
  height: auto;
  font-size: 19px;
  text-justify:left;
}


[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color:grey;
  font-style:italic;
}

.verticalHidden{
  width:0px;
  display: none;

}

.verticalShowed{
  width:300px;
  display: initial;
}

.upperCaseFormText{
  text-transform: uppercase;
}

.highlightAdded {
    background-color: rgba(140, 191, 38 , 0.5);
    border-bottom-style: solid;
    border-bottom-color: rgba(140, 191, 38 , 1);
}
.highlightRemoved {
    background-color: rgba(181, 34 , 45 , 0.5);
    border-bottom-style: solid;
    border-bottom-color: rgba(181, 34 , 45 , 1);
}


.background-transition{
  animation: slide 60s cubic-bezier(1,0.2,0.9,0.02) 0s infinite;
  background-size: 100% 100%;
}
@keyframes slide {
  0% {
    background-image: url("/images/background/lawspaper1.jpg");
  }
  10% {
    background-image: url("/images/background/citynight.jpg");
  }
  30% {
    background-image: url("/images/background/hammer.jpg");
  }
  50% {
    background-image: url("/images/background/bookworld.jpg");
  }
  70% {
    background-image: url("/images/background/lawspaper2.jpg");
  }
  90% {
    background-image: url("/images/background/oldbooks.jpg");
  }
  100% {
    background-image: url("/images/background/lawspaper1.jpg");
  }
}