
header{
  transition: 1s all;
  overflow: hidden;
}

.initiativeBoxes{

}

.initiativeBoxes h1 {
  justify-text: center;
}

.sharedInitiativeBox .myInitiativeBox .publicInitiativeBox{
  justify-text: center;
  background-color: rgba(255,255,255,1);
  color:#ffffff;
  transition: 1s all;
}

.initiativeList{
  min-width: 100px;
  margin: 5px;
  transition: 1s all;
}

.initiativeBox{
  padding: 10px;
  margin: 5px;
  min-width:490px;
  max-height:300px;
  min-height:300px;
  border-style:solid;
  transition: 1s all;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.loopInitiativeBoxes(@counter) when (@counter > 0) {
  .loopInitiativeBoxes((@counter - 1));    
  .initiativeBox:nth-child(@{counter}n+1){  
    @color: extract(@colors, @counter);
    border-bottom: 4px solid @color;
    }
}
.loopInitiativeBoxes(length(@colors));


.initiativeBox:hover {
  flex:5;
}

.initiativeBox .initiativeInfo{
  font-weight: bold;
  overflow:hidden;
}

.initiativeBox .initiativeAction{
}

.initiativeBox .initiativeAction a{
  background: rgba(255, 255, 255, 0.5);
  margin:1px;
  font-weight: bold;
}

.initiativeBox .title{
  overflow:hidden;
  font-family: "Avenir LT W01_65 Medium1475532";
  text-align: center;
  letter-spacing: .04em;
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1.1;
  color: #666666;
  margin-bottom: 4px;  
  padding-bottom: 20px;
}

.initiativeBox .description{
  overflow:hidden;
  font-family: "Avenir LT W01_45 Book1475508";
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #666665;
  margin-bottom: 4px;
}





