.header {
  background-color: rgba(255, 256, 255, 0.8);
  top:0;
  left:0;
  right:0;
  z-index:9;
  transition:transform 0.2s;
}

nav {
  min-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  .mainFont;
  border-bottom: 5px solid #666666;
}

nav a {
  color: #666666;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding: 0px 11px;
  transition: opacity .6s cubic-bezier(.165, .84, .44, 1);
  white-space: nowrap;
  overflow: hidden;
}

nav a:focus{
  color: darkseagreen;
  text-decoration: none;
}

nav a:hover {
  .colorBlue;
  opacity: .5
}

.logOut a:hover{
  .colorRed;
  opacity: .5
}


.active{
  color: darkseagreen;
}


.scrolled{
  transform:translateY(-100%);
  position:fixed;
  z-index:100;
}

.mainFont{
  font-family: 'Gill Sans W01', Arial, sans-serif;
}


.verticalText{
  transform: rotate(-90deg);
}

.roundedImage{
  border-radius: 50%;
  padding:0px 10px 0px 10px
}