<div id="actionBar" ng-controller="ActionBarController" layout="row">
  <md-sidenav layout="column" class="md-sidenav-left actionBar" md-component-id="left"
              md-is-locked-open="true">
    <md-toolbar class="" layout="row" layout-align="center center">
      <md-button ng-click="toggleShowNavBar()" class="md-icon-button" aria-label="Settings">
        <md-icon md-font-icon="fa-bars" class="fa fa-lg">
        </md-icon>
        <md-tooltip>
          <%= __('Menu') %>
        </md-tooltip>
      </md-button>

    </md-toolbar>
    <div class="md-whiteframe-z2" flex>
  <%
  if (typeof actionBarLayout !== "undefined" && actionBarLayout ){
    actionBarLayout.forEach(function (item) {
      if (typeof item.href !== "undefined" && item.href !== ""){ 
%> 
        <a href ="<%= item.href %>" 
           id   ="<%= item.item %>" 
           target="_self"
           title="<%=__(item.i18nKey) %>" 
           class="fitContent"> 
<% 
      }else if (item.action !== null && typeof item.action !== "undefined" && item.action !== ""){
%> 
        <a href ="#" 
           id   ="<%= item.item %>" 
           title="<%=__(item.i18nKey) %>" 
           class="fitContent"
           ng-click="<%= item.action %>" 
        >
<% 
      }else {
%> 
        <a href ="#" 
           id   ="<%= item.item %>" 
           title="<%=__(item.i18nKey) %>" 
           class="fitContent"
        >
<%

      }
%>       
      <i class="<%= item.image %> fa-2x fa-fw"></i>
         </a>
<% 
    }
    )
  }
%>
    </div>
  </md-sidenav>
</div>

