<header id="main" ng-controller="NavigationBarController">

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="linkawAppService.showNavBar">

    <md-toolbar class="" layout="row" layout-align="center center">
      <img ng-src="/images/LegislatorLogo.png" alt="Legislator"/>
    </md-toolbar>

    <md-toolbar class="md-primary" layout="row" layout-align="space-between center">


      <md-list-item class="md-2-line">
        <a ui-sref="legislator.user({userId: user.id})">
          <img ng-src="{{getUserImageUrl()}}" class="md-avatar img-rounded"/>
        </a>

        <div class="md-list-item-text">
          <h3>{{ user.name }}</h3>

          <h5>{{ user.email }}</h5>
        </div>
      </md-list-item>


      <md-button ng-click="logout()" class="md-icon-button" aria-label="Settings">
        <md-icon md-font-icon="fa-sign-out" class="fa fa-lg md-accent">
        </md-icon>
        <md-tooltip>
          <%= __('SignOut') %>
        </md-tooltip>
      </md-button>

    </md-toolbar>


    <md-list layout="column" layout-fill layout-align="space-between start" flex>
      <div flex layout-fill>
        <md-subheader><%= __("Navigation") %></md-subheader>
        <md-list-item layout="row">
          <md-button ui-sref="legislator.initiatives" id="initiatives" flex layout-align="space-between start">
            <md-icon md-font-icon="fa fa-th" class="fa fa-lg colorRed">

            </md-icon>
            <%= __("Initiatives") %>
          </md-button>
        </md-list-item>

        <md-list-item layout="row" layout-align="start center">
          <md-button ui-sref="legislator.myInitiatives" id="myInitiatives" flex>
            <md-icon md-font-icon="fa fa-cubes" class="fa fa-lg colorRed">

            </md-icon>
            <%= __("MyInitiatives") %>
          </md-button>
        </md-list-item>

        <md-list-item layout="row" layout-align="start center">
          <md-button ui-sref="legislator.sharedInitiatives" id="sharedInitiatives" flex>
            <md-icon md-font-icon="fa fa-share-alt" class="fa fa-lg colorRed">

            </md-icon>
            <%= __("SharedInitiatives") %>
          </md-button>
        </md-list-item>

      </div>
      <div layout-fill>
        <md-divider></md-divider>
        <md-subheader><%= __("Extras") %></md-subheader>

        <md-list-item layout="row" layout-align="start center">
          <md-button ui-sref="legislator.linkedData" id="linkedData" flex>
            <md-icon md-font-icon="fa fa-link" class="fa fa-lg colorRed">
            </md-icon>
            <%= __("LinkedData") %>
          </md-button>
        </md-list-item>

        <md-list-item layout="row" layout-align="start center">
          <md-button ui-sref="legislator.tutorial" id="tutorial" flex>
            <md-icon md-font-icon="fa fa-question" class="fa fa-lg colorRed">
            </md-icon>
            <%= __("Tutorial") %>
          </md-button>
        </md-list-item>
      </div>
    </md-list>
  </md-sidenav>
</header>


