<div ng-controller="HomepageController"  flex style="background-color: lightseagreen; overflow: auto">

  <svg class="" width="100%" viewBox="0 0 842 450" pagealignment="none" x="0px" y="0px" enable-background="new 0 0 842 450" xml:space="preserve">
      <defs>
      <mask id="mask" width="842" height="450">
        <rect width="842" height="450" fill="#fff" opacity="0.8"></rect>

        <text type="textBox" width="183.64197530864203" height="68" stroke-miterlimit="3" stroke="none" fill="#000000" font-family="Voltaire" font-size="55" text-align="left" text-anchor="start">
          <tspan x="406" y="55">Share</tspan>
        </text>
        <text type="textBox" width="183.64197530864203" height="68" stroke-miterlimit="3" stroke="none" fill="#000000" font-family="Voltaire" font-size="55" text-align="left" text-anchor="start">
          <tspan x="47" y="150">Create</tspan>
        </text><text type="textBox" width="263.06712962962945" height="68" stroke-miterlimit="3" stroke="none" fill="#000000" font-family="Voltaire" font-size="55" text-align="left" text-anchor="start">
          <tspan x="227" y="264">Discover</tspan>
        </text>
        <text type="textBox" width="492.1604938271569" height="37" stroke-miterlimit="3" stroke="none" fill="#000000" font-family="trixie" font-size="69" text-align="left" text-anchor="start" style="font-weight:bold; writing-mode: tb; glyph-orientation-vertical: 0;">
          <tspan x="700" y="80">LAWS</tspan>
        </text>
      </mask>
    </defs>
    <rect width="842" height="450" mask="url(#mask)" fill-opacity="0.8" fill="white"></rect>
  </svg>

</div>
