<div id="contentContainer" ng-cloak layout="column" flex>

<md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
    <span>
      <h1 id="linkedDataTitle" >
        <i class="fa fa-share-alt fa-fw"></i> <%= __('Tutorial') %>
      </h1>
    </span>
</md-toolbar>

<md-content  class="WordSection1" style="overflow: auto;">
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><strong style="mso-bidi-font-weight: normal;">MANUAL DE USUARIO</strong></p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><strong style="mso-bidi-font-weight: normal;">Prefacio</strong></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;">Apreciado lector, en esta gu&iacute;a de usuario usted encontrar&aacute; secciones definidas que est&aacute;n distribuidas de tal forma que la lectura y comprensi&oacute;n sobre el funcionamiento del prototipo &ldquo;Legislator&rdquo; sea sencilla y le permita navegar por los men&uacute;s para utilizar las diferentes funcionalidades sin complicaciones. La gu&iacute;a est&aacute; acompa&ntilde;ada de im&aacute;genes que har&aacute;n m&aacute;s intuitivo el uso del software.</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><strong style="mso-bidi-font-weight: normal;">Distribuci&oacute;n del prototipo</strong></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;">El prototipo est&aacute; conformado por la p&aacute;gina de inicio en donde se encuentra el m&oacute;dulo de autenticaci&oacute;n, all&iacute; el usuario puede registrarse para crear una cuenta. </p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><img src="/images/manual/image002.jpg" alt="" width="713" height="377" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;">Y por una p&aacute;gina donde puede gestionar las iniciativas legislativas. Una vez el usuario ha iniciado sesi&oacute;n (<em style="mso-bidi-font-style: normal;">Ver secci&oacute;n tareas comunes</em>), encontrar&aacute; que la p&aacute;gina tiene una estructura de 3 secciones, a continuaci&oacute;n se resaltan y enumeran en color verde:</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><img src="/images/manual/image004.jpg" alt="" width="738" height="275" /></p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><strong style="mso-bidi-font-weight: normal;">1. </strong>Men&uacute; principal.</p>
  <p class="MsoNoSpacing" style="margin-left: 39.25pt; text-align: justify; text-indent: -18.0pt; line-height: 115%; mso-list: l0 level1 lfo1;"><strong style="mso-bidi-font-weight: normal;">Legislator: </strong>Retorna a la p&aacute;gina de inicio.</p>
  <p class="MsoNoSpacing" style="margin-left: 39.25pt; text-align: justify; text-indent: -18.0pt; line-height: 115%; mso-list: l0 level1 lfo1;"><strong style="mso-bidi-font-weight: normal;">Iniciativas: </strong>Permite ver todas las iniciativas legislativas que est&aacute;n publicadas en el prototipo.</p>
  <p class="MsoNoSpacing" style="margin-left: 39.25pt; text-align: justify; text-indent: -18.0pt; line-height: 115%; mso-list: l0 level1 lfo1;"><strong style="mso-bidi-font-weight: normal;">Mis iniciativas: </strong>Muestra las iniciativas que ha creado el usuario en su cuenta y las que le han compartido, o sea de las cuales es usuario editor.</p>
  <p class="MsoNoSpacing" style="margin-left: 39.25pt; text-align: justify; text-indent: -18.0pt; line-height: 115%; mso-list: l0 level1 lfo1;"><strong style="mso-bidi-font-weight: normal;">Linked Data: </strong>Permite utilizar los datos de las iniciativas libremente porque son de acceso p&uacute;blico.</p>
  <p class="MsoNoSpacing" style="margin-left: 39.25pt; text-align: justify; text-indent: -18.0pt; line-height: 115%; mso-list: l0 level1 lfo1;"><strong style="mso-bidi-font-weight: normal;">Cerrar sesi&oacute;n: </strong>Permite salir de forma segura de la cuenta.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><strong style="mso-bidi-font-weight: normal;">2. </strong>Buscador de iniciativas legislativas.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><strong style="mso-bidi-font-weight: normal;">3. </strong>&Aacute;rea de despliegue de iniciativas legislativas publicadas.</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><strong style="mso-bidi-font-weight: normal;"><br /> TAREAS COMUNES</strong></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;">Registrarse en el prototipo: </strong>Dar clic en la opci&oacute;n &ldquo;Registrarse&rdquo;, se desplegar&aacute; un formulario con informaci&oacute;n personal b&aacute;sica, que debe diligenciar para crear una cuenta en el prototipo.</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><img src="/images/manual/image006.jpg" alt="" width="662" height="327" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;">Iniciar sesi&oacute;n: </strong>El usuario tiene dos opciones: <img src="/images/manual/image008.jpg" alt="" width="37" height="18" />&nbsp;puede utilizar la cuenta que cre&oacute; en Legislator o <img src="/images/manual/image010.jpg" alt="" width="38" height="18" />&nbsp;usar su cuenta de Google o Facebook, debe escribir las credenciales de acceso personales para ingresar a su cuenta.</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><img src="/images/manual/image012.jpg" alt="" width="672" height="307" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;"><br /> Buscar iniciativas legislativas: </strong>En la barra superior puede escribir el tema de su inter&eacute;s y oprimir la tecla enter o hacer clic en la lupa<img src="/images/manual/image014.png" alt="Description: http://www.dmdcosillas.org/wp-content/uploads/2013/03/lupa.png" width="24" height="24" />, para buscar las iniciativas relacionadas con la tem&aacute;tica ingresada. Observe el siguiente ejemplo:</p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><img src="/images/manual/image016.jpg" alt="" width="737" height="222" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;">Votar a favor o en contra de una iniciativa legislativa: </strong>En la parte inferior de la iniciativa publicada, puede hacer clic en el &iacute;cono verde <img src="/images/manual/image018.jpg" alt="" width="25" height="22" />&nbsp;para votar a favor o en el &iacute;cono rojo <img src="/images/manual/image020.jpg" alt="" width="23" height="23" />&nbsp;para votar en contra de la iniciativa. Tenga en cuenta que una vez haya votado, no podr&aacute; cambiar su voto.</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><img src="/images/manual/image022.jpg" alt="" width="738" height="223" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;">Ver el contenido de una iniciativa legislativa: </strong>Clic en la opci&oacute;n &ldquo;involucrarme&rdquo; ubicada en la parte inferior de la iniciativa legislativa publicada, para poder visualizar su contenido.</p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><img src="/images/manual/image024.jpg" alt="" width="737" height="219" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;">Compartir iniciativa: </strong>Seleccionar el &iacute;cono <img src="/images/manual/image025.png" alt="" width="29" height="28" />&nbsp;para visualizar en el panel derecho los datos del autor de la iniciativa y los colaboradores, all&iacute; puede buscar y agregar usuarios editores, para compartirles la iniciativa legislativa.</p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 152.5pt;"><img src="/images/manual/image027.jpg" alt="" width="738" height="286" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;">Editar y Borrar iniciativa legislativa: </strong>Debe estar en &ldquo;Mis iniciativas&rdquo;,<strong style="mso-bidi-font-weight: normal;"> </strong>una vez all&iacute;, seleccionar la opci&oacute;n &ldquo;Editar&rdquo; para modificar o &ldquo;Borrar&rdquo; (se le pedir&aacute; confirmaci&oacute;n<img src="/images/manual/image029.jpg" alt="" width="45" height="17" />) para eliminar su iniciativa del prototipo Legislator.</p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><img src="/images/manual/image031.jpg" alt="" width="738" height="293" /></p>
  <p class="MsoNoSpacing" style="text-align: center; line-height: 115%;" align="center"><strong style="mso-bidi-font-weight: normal;"><br /> FUNCIONES AVANZADAS</strong></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><strong style="mso-bidi-font-weight: normal;"><br /> Gestionar iniciativas legislativas: </strong>El usuario puede ver las iniciativas legislativas que ha creado y las que le han compartido, es decir de las cuales es usuario editor.</p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><img src="/images/manual/image033.jpg" alt="" width="738" height="320" /></p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image035.jpg" alt="" width="21" height="20" />&nbsp;&nbsp;<strong style="mso-bidi-font-weight: normal;">Nueva:</strong> Despliega la plantilla con los campos necesarios para dise&ntilde;ar la iniciativa. </p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image037.jpg" alt="" width="23" height="23" /> <strong style="mso-bidi-font-weight: normal;">Mis iniciativas:</strong> Muestra las iniciativas de las cuales es autor.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image039.jpg" alt="" width="28" height="26" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Iniciativas compartidas:</strong> Muestra las iniciativas que le han compartido.</p>
  <p class="DefaultStyle" style="margin-left: 36.0pt; text-align: justify; text-indent: -18.0pt; mso-list: l1 level1 lfo2; tab-stops: 338.2pt;">Vista desde la opci&oacute;n &ldquo;Mis iniciativas&rdquo;. (Autor de iniciativa o usuario editor).</p>
  <p class="DefaultStyle" style="text-align: center; tab-stops: 338.2pt;" align="center"><img src="/images/manual/image041.jpg" alt="" width="737" height="383" /></p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image025.png" alt="" width="29" height="28" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Usuarios:</strong> El autor de la iniciativa legislativa puede compartirla con otros <br /> usuarios y ver qui&eacute;nes son colaboradores de la iniciativa.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image042.png" alt="" width="29" height="24" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Chat:</strong> Despliega una ventana para que los usuarios puedan interactuar en <br /> tiempo real.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image043.png" alt="" width="27" height="24" />&nbsp;&nbsp;<strong style="mso-bidi-font-weight: normal;">Comentarios: </strong>&Aacute;rea para redactar opiniones sobre la iniciativa legislativa.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image044.png" alt="" width="28" height="31" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Guardar Encabezado: </strong>Almacena la secci&oacute;n del encabezado que se ha creado <br /> (T&iacute;tulo de iniciativa, Descripci&oacute;n, Motivaci&oacute;n, Marco Legal) y queda publicada <br /> en el prototipo.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image045.png" alt="" width="24" height="25" />&nbsp;&nbsp;<strong style="mso-bidi-font-weight: normal;">Crear art&iacute;culo: </strong>Permite agregar un art&iacute;culo a la iniciativa legislativa.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image046.png" alt="" width="28" height="25" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Encabezado: </strong>Desplaza la iniciativa a la zona del encabezado.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image047.png" alt="" width="28" height="23" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Art&iacute;culos:</strong> Desplaza la iniciativa a la zona de art&iacute;culos.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;">En la parte inferior del panel de comentarios aparecen las siguientes opciones:</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image048.png" alt="" width="60" height="19" />&nbsp;Despliega todos los comentarios que se han hecho en la iniciativa.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image049.png" alt="" width="61" height="20" />&nbsp;Muestra los comentarios que no han sido gestionados (Sin solucionar, sin <br /> ignorar)</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image050.png" alt="" width="61" height="18" />&nbsp;Muestra los comentarios que se han respondido.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image051.png" alt="" width="63" height="21" />&nbsp;Muestra los comentarios que se han ignorado.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;">Note que cada comentario tiene la opci&oacute;n &ldquo;check&rdquo;, al seleccionarla muestra los &iacute;conos de las opciones anteriores y cambia el color del fondo del mensaje seg&uacute;n la gesti&oacute;n que se haya hecho en el comentario.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;">En la secci&oacute;n de art&iacute;culos, el autor de la iniciativa tiene dos opciones: &ldquo;editar&rdquo; y &nbsp;&ldquo;borrar&rdquo; el art&iacute;culo. (La opci&oacute;n de borrar s&oacute;lo est&aacute; disponible para el rol de autor de la iniciativa, al seleccionarla solicita confirmaci&oacute;n de la acci&oacute;n: <img src="/images/manual/image052.jpg" alt="" width="45" height="17" />).</p>
  <p class="MsoNoSpacing" style="margin-left: 36.0pt; text-align: justify; text-indent: -18.0pt; line-height: 115%; mso-list: l1 level1 lfo2;">Cuando el autor de iniciativa legislativa o usuario editor selecciona &ldquo;editar&rdquo; un art&iacute;culo, se muestra la siguiente pantalla:</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image054.jpg" alt="" width="738" height="381" /></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"><br /> <img src="/images/manual/image042.png" alt="" width="29" height="24" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Chat:</strong> Despliega una ventana para que los usuarios puedan interactuar en tiempo real.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image043.png" alt="" width="27" height="24" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Comentarios: </strong>&Aacute;rea para redactar opiniones sobre la iniciativa legislativa.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image044.png" alt="" width="28" height="31" />&nbsp;<strong style="mso-bidi-font-weight: normal;">Guardar art&iacute;culo: </strong>Guarda el art&iacute;culo de la iniciativa legislativa.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image055.png" alt="" width="22" height="28" /> <strong style="mso-bidi-font-weight: normal;">Salvar versi&oacute;n de art&iacute;culo: </strong>Guarda la versi&oacute;n modificada del art&iacute;culo.</p>
  <p class="MsoNoSpacing" style="text-align: justify; line-height: 115%;"><img src="/images/manual/image056.png" alt="" width="33" height="27" /><strong style="mso-bidi-font-weight: normal;">Iniciativas: </strong>Retorna a las iniciativas legislativas publicadas.</p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;"></p>
  <p class="DefaultStyle" style="text-align: justify; tab-stops: 338.2pt;">La barra de versionamiento, indica el n&uacute;mero de la versi&oacute;n en la que se encuentra, puede desplazarse a lo largo de ella para cambiar de versi&oacute;n, dando clic sobre el bot&oacute;n vertical o en cualquier parte de la barra horizontal, con el fin de comparar los cambios realizados en las versiones del art&iacute;culo. (El texto resaltado en color rojo indica el contenido borrado de la versi&oacute;n anterior y el texto resaltado en color verde corresponde al nuevo texto introducido en el &aacute;rea de &ldquo;Texto de trabajo&rdquo;).</p>
</md-content >
</div>
