<div id="contentContainer" ng-cloak layout="column" flex>

<md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
    <span>
      <h1 id="linkedDataTitle" >
        <i class="fa fa-share-alt fa-fw"></i> <%= __('Tutorial') %>
      </h1>
    </span>
</md-toolbar>

<div style="overflow-y: scroll">
<H3 CLASS="3-western" ALIGN=CENTER STYLE="margin-left: 0.5in; text-indent: -0.5in"><A NAME="_Toc420488770"></A>
MANUAL DE USUARIO DE LEGISLATOR.</H3>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B><BR>Prefacio</B></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3>Apreciado
lector, en esta gu&iacute;a de usuario usted encontrar&aacute;
secciones definidas que est&aacute;n distribuidas de tal forma que la
lectura y comprensi&oacute;n sobre el funcionamiento del prototipo
&ldquo;Legislator&rdquo; sea sencilla y le permita navegar por los
men&uacute;s para utilizar las diferentes funcionalidades sin
complicaciones. La gu&iacute;a est&aacute; acompa&ntilde;ada de
im&aacute;genes que har&aacute;n m&aacute;s intuitivo el uso del
software.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Distribuci&oacute;n
del prototipo</B></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3>El
prototipo est&aacute; conformado por la p&aacute;gina de inicio en
donde se encuentra el m&oacute;dulo de autenticaci&oacute;n, all&iacute;
el usuario puede registrarse para crear una cuenta. </FONT></FONT>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_68795552.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=209 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3>Y
por una p&aacute;gina donde puede gestionar las iniciativas
legislativas. Una vez el usuario ha iniciado sesi&oacute;n (<I>Ver
secci&oacute;n tareas comunes</I>), encontrar&aacute; que la p&aacute;gina
tiene una estructura de 3 secciones, a continuaci&oacute;n se
resaltan y enumeran en color verde:</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m1b8d14ac.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=220 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#ff0066"><B>1.
</B></FONT><FONT COLOR="#00000a">Men&uacute; principal.</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a"><B>Legislator:
	</B></FONT>Retorna a la p&aacute;gina de inicio.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a"><B>Iniciativas:
	</B></FONT>Permite ver todas las iniciativas legislativas que est&aacute;n
	publicadas en el prototipo.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a"><B>Mis
	iniciativas: </B></FONT>Muestra las iniciativas que ha<B> </B>creado
	el usuario en su cuenta y las que le han compartido, o sea de las
	cuales es usuario editor.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a"><B>Linked
	Data: </B></FONT><FONT COLOR="#00000a">Permite utilizar los datos de
	las iniciativas libremente porque son de acceso p&uacute;blico.</FONT></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a"><B>?:
	</B></FONT><FONT COLOR="#00000a">Despliega el manual de usuario.</FONT></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a"><B>Cerrar
	sesi&oacute;n: </B></FONT>Permite salir de forma segura de la
	cuenta.</FONT></FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#ff0066"><B>2.
</B></FONT>Buscador de iniciativas legislativas.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#ff0066"><B>3.</B></FONT><FONT COLOR="#ff0000"><B>
</B></FONT>&Aacute;rea de despliegue de iniciativas legislativas
publicadas.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><U><B><BR>TAREAS
COMUNES<BR></B></U></FONT></FONT><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Registrarse
en el prototipo: </B>Dar clic en la opci&oacute;n &ldquo;Registrarse&rdquo;,
se desplegar&aacute; un formulario con informaci&oacute;n personal
b&aacute;sica, que debe diligenciar para crear una cuenta en el
prototipo.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_4713d50b.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=297 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B><BR>Iniciar
sesi&oacute;n: </B>El usuario tiene dos opciones: 
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m5f04eff2.png" ALIGN=BOTTOM WIDTH=27 HEIGHT=13 BORDER=0>
puede utilizar la cuenta que cre&oacute; en Legislator o 
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_148d88aa.png" ALIGN=BOTTOM WIDTH=27 HEIGHT=13 BORDER=0>
usar su cuenta de Google o Facebook, debe escribir las credenciales
de acceso personales para ingresar a su cuenta.	<BR></FONT></FONT><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m2364ed6c.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=215 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B><BR>Buscar
iniciativas legislativas: </B>En la barra superior puede escribir el
tema de su inter&eacute;s y oprimir la tecla enter o hacer clic en la
lupa<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_32066eb3.png" ALIGN=BOTTOM WIDTH=19 HEIGHT=19 BORDER=0>,
para buscar las iniciativas relacionadas con la tem&aacute;tica
ingresada. Observe el siguiente ejemplo:</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_4dc634ff.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=187 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Votar
a favor o en contra de una iniciativa legislativa: </B>En la parte
inferior de la iniciativa publicada, puede hacer clic en el &iacute;cono
verde 
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_eb72ac9.png" ALIGN=BOTTOM WIDTH=20 HEIGHT=17 BORDER=0>
para votar a favor o en el &iacute;cono rojo 
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m57c19e94.png" ALIGN=BOTTOM WIDTH=19 HEIGHT=19 BORDER=0>
para votar en contra de la iniciativa. Tenga en cuenta que una vez
haya votado, no podr&aacute; cambiar su voto.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_783d8cdd.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=206 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Ver
el contenido de una iniciativa legislativa: </B>Clic en la opci&oacute;n
&ldquo;involucrarme&rdquo; ubicada en la parte inferior de la
iniciativa legislativa publicada, para poder visualizar su contenido.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m3aef978e.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=210 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Compartir
iniciativa: </B>Seleccionar el &iacute;cono 
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_15e9a96b.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=23 BORDER=0>
para visualizar en el panel derecho los datos del autor de la
iniciativa y los colaboradores, all&iacute; puede <FONT COLOR="#000000">buscar,
agregar y borrar usuarios editores</FONT>, para compartirles la
iniciativa legislativa.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-top: 0.17in; margin-bottom: 0in; line-height: 100%">
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_50ebe0df.png" ALIGN=BOTTOM WIDTH=586 HEIGHT=278 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B><BR>Editar
y Borrar iniciativa legislativa: </B>Debe estar en &ldquo;Mis
iniciativas&rdquo;,<B>  </B>una vez all&iacute;, seleccionar la
opci&oacute;n &ldquo;Editar&rdquo; para modificar o &ldquo;Borrar&rdquo;
(se le pedir&aacute; confirmaci&oacute;n<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_11916a5d.png" ALIGN=BOTTOM WIDTH=36 HEIGHT=14 BORDER=0>)
para eliminar su iniciativa del prototipo Legislator.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m61a05d32.png" ALIGN=BOTTOM WIDTH=584 HEIGHT=227 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Ver
informaci&oacute;n del usuario: </B>En la parte superior derecha de
la pantalla, se muestra el &ldquo;nombre de usuario&rdquo;, cuando se
hace clic, se visualiza el nombre, correo electr&oacute;nico, n&uacute;mero
de iniciativas creadas, n&uacute;mero de iniciativas compartidas y un
panel donde se despliegan las iniciativas creadas y compartidas.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m60680de3.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=281 BORDER=0></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>As&iacute;
mismo, puede ver la informaci&oacute;n mencionada, sobre un usuario
con el que haya compartido su iniciativa, s&oacute;lo debe hacer clic
en el &iacute;cono de informaci&oacute;n en la ventana de usuarios,
ingresando desde el men&uacute; &ldquo;Mis iniciativas&rdquo;. Note
el siguiente ejemplo, en el que el nombre de usuario es &ldquo;Andrea&rdquo;,
y la informaci&oacute;n desplegada corresponde a &ldquo;Edward
Rodr&iacute;guez&rdquo;, es decir un usuario editor con quien se
comparti&oacute; la iniciativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m6a9327a4.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=271 BORDER=0><FONT FACE="Arial, serif"><FONT SIZE=3><B><BR></B><U><B>FUNCIONES
AVANZADAS</B></U></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><B><BR>Gestionar
iniciativas legislativas: </B>El usuario puede ver las iniciativas
legislativas que ha creado y las que le han compartido, es decir de
las cuales es usuario editor.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m12146113.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=225 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_2ac7f6a1.png" ALIGN=BOTTOM WIDTH=17 HEIGHT=16 BORDER=0>
 <FONT FACE="Arial, serif"><FONT SIZE=3>Crear Despliega la plantilla
con los campos necesarios para dise&ntilde;ar la iniciativa. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m4e5a94d1.png" ALIGN=BOTTOM WIDTH=18 HEIGHT=19 BORDER=0>
 <FONT FACE="Arial, serif"><FONT SIZE=3>Muestra las iniciativas de
las cuales es autor.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_40e9f532.png" ALIGN=BOTTOM WIDTH=22 HEIGHT=21 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3>Muestra las iniciativas que le
han compartido.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3>Vista
	desde la opci&oacute;n &ldquo;Mis iniciativas&rdquo;. (Autor de
	iniciativa o usuario editor).</FONT></FONT></P>
</UL>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_48f0df9a.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=304 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_15e9a96b.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=23 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Usuarios:</B> El autor de
la iniciativa legislativa puede compartirla con otros <BR>      
usuarios y ver qui&eacute;nes son colaboradores de la iniciativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m421d75d9.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=19 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Chat:</B> Despliega una
ventana para que los usuarios puedan interactuar en <BR>       tiempo
real.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_557e9877.png" ALIGN=BOTTOM WIDTH=21 HEIGHT=19 BORDER=0>
 <FONT FACE="Arial, serif"><FONT SIZE=3><B>Comentarios: </B>&Aacute;rea
para redactar opiniones sobre la iniciativa legislativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m42115ea2.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=25 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Guardar Encabezado:
</B>Almacena la secci&oacute;n del encabezado que se ha creado <BR>  
    (T&iacute;tulo de iniciativa, Descripci&oacute;n, Motivaci&oacute;n,
Marco Legal) y queda publicada <BR>       en el prototipo.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m1652ea83.png" ALIGN=BOTTOM WIDTH=19 HEIGHT=20 BORDER=0>
 <FONT FACE="Arial, serif"><FONT SIZE=3><B>Crear art&iacute;culo:
</B>Permite agregar un art&iacute;culo a la iniciativa legislativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_1b564e81.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=20 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Encabezado: </B>Desplaza la
iniciativa a la zona del encabezado.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_25e1e72e.png" ALIGN=BOTTOM WIDTH=22 HEIGHT=19 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Art&iacute;culos:</B>
Desplaza la iniciativa a la zona de art&iacute;culos.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m5f1e1a16.png" ALIGN=BOTTOM WIDTH=20 HEIGHT=23 BORDER=0>
 <FONT FACE="Arial, serif"><FONT SIZE=3><B>Linked Data: </B><FONT COLOR="#00000a">Permite
utilizar los datos de las iniciativas libremente porque son de acceso
p&uacute;blico.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Los
campos que contiene la plantilla para dise&ntilde;ar la iniciativa
son:</FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>T&iacute;tulo
	de la iniciativa: Nombre de la iniciativa.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Descripci&oacute;n:
	Tem&aacute;tica que aborda la iniciativa.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Motivaci&oacute;n:
	Intencionalidad de la iniciativa.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Marco
	legal: Referentes de otras leyes, normas, etc., que est&aacute;n
	relacionadas con la iniciativa.</FONT></FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><BR>En
la parte inferior del panel de comentarios aparecen las siguientes
opciones:</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m482e276c.png" ALIGN=BOTTOM WIDTH=48 HEIGHT=15 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3>Despliega todos los
comentarios que se han hecho en la iniciativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m59d767db.png" ALIGN=BOTTOM WIDTH=49 HEIGHT=16 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3>Muestra los comentarios que no
han sido gestionados (Sin solucionar, sin <BR>            ignorar)</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_1ab0cde7.png" ALIGN=BOTTOM WIDTH=49 HEIGHT=14 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3>Muestra los comentarios que se
han respondido.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_600186ab.png" ALIGN=BOTTOM WIDTH=50 HEIGHT=17 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3>Muestra los comentarios que se
han ignorado.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Note
que cada comentario tiene la opci&oacute;n &ldquo;check&rdquo;, al
seleccionarla muestra los &iacute;conos de las opciones anteriores y
cambia el color del fondo del mensaje seg&uacute;n la gesti&oacute;n
que se haya hecho en el comentario.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>En
la secci&oacute;n de art&iacute;culos, el autor de la iniciativa
tiene dos opciones: &ldquo;editar&rdquo; y  &ldquo;borrar&rdquo; el
art&iacute;culo. (La opci&oacute;n de borrar s&oacute;lo est&aacute;
disponible para el rol de autor de la iniciativa, al seleccionarla
solicita confirmaci&oacute;n de la acci&oacute;n: 
<IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_11916a5d.png" ALIGN=BOTTOM WIDTH=36 HEIGHT=14 BORDER=0>).</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Cuando
	el autor de iniciativa legislativa o usuario editor selecciona
	&ldquo;editar&rdquo; un art&iacute;culo, se muestra la siguiente
	pantalla:</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"></P>
</UL>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m1e01a170.png" ALIGN=BOTTOM WIDTH=576 HEIGHT=247 BORDER=0></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><BR><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m421d75d9.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=19 BORDER=0>
<B>Chat:</B> Despliega una ventana para que los usuarios puedan
interactuar en tiempo real.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_557e9877.png" ALIGN=BOTTOM WIDTH=21 HEIGHT=19 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Comentarios: </B>&Aacute;rea
para redactar opiniones sobre la iniciativa legislativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m42115ea2.png" ALIGN=BOTTOM WIDTH=23 HEIGHT=25 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Guardar art&iacute;culo:
</B>Guarda el art&iacute;culo de la iniciativa legislativa.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_574fb7ad.png" ALIGN=BOTTOM WIDTH=17 HEIGHT=23 BORDER=0>
 <FONT FACE="Arial, serif"><FONT SIZE=3><B>Salvar versi&oacute;n de
art&iacute;culo: </B>Guarda la versi&oacute;n modificada del
art&iacute;culo.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m25c00fa7.png" ALIGN=BOTTOM WIDTH=27 HEIGHT=21 BORDER=0><FONT FACE="Arial, serif"><FONT SIZE=3><B>Iniciativa:
</B>Retorna a las iniciativa legislativa que se est&aacute; editando.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><IMG SRC="/images/manual/0233114001436225408_manual%20de%20usuario%20de%20legislator_html_m5f1e1a16.png" ALIGN=BOTTOM WIDTH=20 HEIGHT=22 BORDER=0>
<FONT FACE="Arial, serif"><FONT SIZE=3><B>Linked Data: </B><FONT COLOR="#00000a">Permite
utilizar los datos de las iniciativas libremente porque son de acceso
p&uacute;blico.	</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3>Los
campos para el dise&ntilde;o de un art&iacute;culo son:	</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><A NAME="_GoBack"></A>
<BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><B>N&uacute;mero
	del art&iacute;culo: </B>Indica el n&uacute;mero que tiene el
	art&iacute;culo dentro de la iniciativa.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><B>T&iacute;tulo
	del art&iacute;culo:</B> Nombre del art&iacute;culo.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Texto
	de la modificaci&oacute;n: </B>Espacio para ingresar el texto de un
	art&iacute;culo existente en una iniciativa que desee modificar.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Problema:
	</B>Descripci&oacute;n sobre el conflicto que espera resolver con el
	art&iacute;culo.</FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%"><FONT FACE="Arial, serif"><FONT SIZE=3><B>Texto
	de trabajo: </B>Espacio para escribir el nuevo texto del art&iacute;culo.</FONT></FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=3><FONT COLOR="#00000a">La
barra de versionamiento, indica el n&uacute;mero de la versi&oacute;n
en la que se encuentra, puede desplazarse a lo largo de ella para
cambiar de versi&oacute;n, dando clic sobre el bot&oacute;n vertical
o en cualquier parte de la barra horizontal, con el fin de comparar
los cambios realizados en las versiones del art&iacute;culo. (El
texto resaltado en color rojo indica el contenido borrado de la
versi&oacute;n anterior y el texto resaltado en color verde
corresponde al nuevo texto introducido en el &aacute;rea de &ldquo;Texto
de trabajo&rdquo;).</FONT></FONT></FONT></P>
</div>
