<div id="contentContainer" ng-cloak layout="column" flex>
  <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
    <span>
      <h1 id="linkedDataTitle" >
        <i class="fa fa-share-alt fa-fw"></i> <%= __('LinkedData') %>
      </h1>
    </span>
  </md-toolbar>

  <md-content id="initiativeHeaderBox" class="indexBox" style="overflow: auto;">
    <div id="initiativeHeaderBox" class=" container-fluid">
      <div id="initiativeHeaderBox" class="row" style="background: rgba(255,255,255,0.5)">
        <a href="/resource/user" class="row" target="_self"
           style="color:rgba(235, 147, 22 , 0.8)">
          Creadores de iniciativas legislativas</a>
        <a href="/resource/initiative" class="row" target="_self"
           style="color:rgba(235, 147, 22 , 0.8)"> Iniciativas legislativas </a>
        <a href="/resource/article" class="row" target="_self"
           style="color:rgba(235, 147, 22 , 0.8)"> Articulos de las iniciativas legislativas</a>
      </div>
    </div>
  </md-content>

</div>


